Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{js,ts,tsx,jsx}": ["prettier --write"],
  "*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

feat: add --requests parameter and --yes flag to rebuild-conversations script
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/08-weird-review.json
Due: prettier --write

feat: add --requests parameter to rebuild-conversations script (#54)
  scripts/db/rebuild-conversations.ts
Due: prettier --write

feat: add --requests parameter and --yes flag to rebuild-conversations script (#55)
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/08-weird-review.json
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: address dashboard UI feedback
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/request-details.ts
Due: eslint --fix, prettier --write

fix: prevent cross-conversation branching in ConversationLinker
  packages/shared/src/utils/conversation-linker.ts
  packages/shared/src/utils/db-query-executors.ts
Due: eslint --fix, prettier --write

fix: prevent cross-conversation branching in ConversationLinker (#56)
  packages/shared/src/utils/conversation-linker.ts
  packages/shared/src/utils/db-query-executors.ts
Due: eslint --fix, prettier --write

fix: refine navigation arrows behavior and positioning
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/request-details.ts
Due: eslint --fix, prettier --write

fix: stack navigation arrows vertically
  services/dashboard/src/layout/styles.ts
Due: eslint --fix, prettier --write

feat: add grandparent fallback for orphaned conversations
  FOLLOW_UP_ISSUE.md
  packages/shared/src/utils/conversation-linker.ts
Due: eslint --fix, prettier --write

fix: improve vertical alignment in hide tools mode
  services/dashboard/src/layout/styles.ts
Due: eslint --fix, prettier --write

fix: align copy link and navigation arrows to the right
  services/dashboard/src/layout/styles.ts
Due: eslint --fix, prettier --write

fix: correct navigation arrow direction logic
  services/dashboard/src/routes/request-details.ts
Due: eslint --fix, prettier --write

fix: hide truncation elements for tool messages in hide mode
  services/dashboard/src/layout/styles.ts
Due: eslint --fix, prettier --write

fix: hide full content divs for tool messages in hide mode
  services/dashboard/src/layout/styles.ts
Due: eslint --fix, prettier --write

fix: hide pre elements in collapsed tool messages
  services/dashboard/src/layout/styles.ts
Due: eslint --fix, prettier --write

Delete FOLLOW_UP_ISSUE.md
  FOLLOW_UP_ISSUE.md
Due: prettier --write

fix: remove ellipsis after content in hide tools mode
  services/dashboard/src/layout/styles.ts
Due: eslint --fix, prettier --write

feat: move hide tools checkbox to same line as view toggle buttons
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/request-details.ts
Due: eslint --fix, prettier --write

feat: add grandparent fallback for orphaned conversations (#57)
  packages/shared/src/utils/conversation-linker.ts
Due: eslint --fix, prettier --write

feat: improve dashboard UI with 5 enhancements (#53)
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation.ts
  test/unit/css-validation.test.ts
Due: eslint --fix, prettier --write

feat: add exec command to manage-nexus-proxies.sh
  scripts/ops/manage-nexus-proxies.sh
Due: none

fix: convert nanoid to UUID in linkConversation to prevent SQL errors
  services/proxy/src/storage/StorageAdapter.ts
Due: eslint --fix, prettier --write

feat: add exec command to manage-nexus-proxies.sh (#58)
  scripts/ops/manage-nexus-proxies.sh
Due: none

fix: update dashboard service to use .ts imports instead of .js
  services/dashboard/src/app.ts
  services/dashboard/src/container.ts
  services/dashboard/src/layout/index.ts
  services/dashboard/src/main.ts
  services/dashboard/src/routes/dashboard-api.ts
  services/dashboard/src/types/storage-service.ts
  services/dashboard/src/utils/conversation-graph.ts
  services/dashboard/src/utils/conversation.ts
  services/dashboard/src/utils/simple-graph-layout.ts
  services/dashboard/tsconfig.json
Due: eslint --fix, prettier --write

refactor: separate request ID generation from logger middleware
  services/dashboard/src/app.ts
  services/dashboard/src/middleware/logger.ts
  services/dashboard/src/middleware/request-id.ts
  services/proxy/src/app.ts
  services/proxy/src/domain/value-objects/RequestContext.ts
  services/proxy/src/middleware/logger.ts
  services/proxy/src/middleware/request-id.ts
Due: eslint --fix, prettier --write

fix: ensure shared package is built before dashboard typecheck
  services/dashboard/package.json
Due: prettier --write

fix: improve typecheck script robustness
  services/dashboard/package.json
Due: prettier --write

fix: resolve typecheck failures after build
  package.json
  tsconfig.json
Due: prettier --write

feat: add tool execution and time to reply metrics to conversation page
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

feat: add user interactions count metric to conversation page
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

fix: fix tool execution detection in conversation metrics
  services/dashboard/src/storage/reader.ts
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

fix: ensure shared package is built before dashboard typecheck (#61)
  package.json
  services/dashboard/package.json
  tsconfig.json
Due: prettier --write

fix: convert nanoid to UUID in linkConversation to prevent SQL errors (#59)
  services/dashboard/src/app.ts
  services/dashboard/src/middleware/logger.ts
  services/dashboard/src/middleware/request-id.ts
  services/proxy/src/app.ts
  services/proxy/src/domain/value-objects/RequestContext.ts
  services/proxy/src/middleware/logger.ts
  services/proxy/src/middleware/request-id.ts
  services/proxy/src/storage/StorageAdapter.ts
Due: eslint --fix, prettier --write

perf: optimize conversation metrics by fetching only last request body per branch
  services/dashboard/src/storage/reader.ts
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

feat: re-implement is_subtask support for Task tool conversations
  packages/shared/src/utils/conversation-linker.ts
  services/proxy/src/services/MetricsService.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/writer.ts
Due: eslint --fix, prettier --write

fix: improve tool execution detection with optimized query structure
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

fix: prevent incorrect tool execution times with optimized query
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

fix: correct tool execution time calculation
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

chore: remove debug logging from tool metrics
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

fix: simplify and fix time to reply calculation
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write
