Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{js,ts,tsx,jsx}": ["prettier --write"],
  "*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

fix: update test generation scripts and fix conversation linker tests
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-continuation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-start.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/05-restart-claude-branch.json
  packages/shared/src/utils/conversation-linker.ts
  scripts/compute-fixture-hashes.ts
  scripts/debug-fixture.ts
  scripts/debug-hashes.ts
  scripts/generate-conversation-test-fixture.ts
Due: eslint --fix, prettier --write

feat: preserve compact branch for follow-up messages and add parent_request_id
  packages/shared/src/utils/__tests__/compact-branch-preservation.test.ts
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-continuation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-start.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/02-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/03-re-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/04-compact.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/05-compact-follow-up.json
  packages/shared/src/utils/conversation-linker.ts
  scripts/db/migrations/007-add-parent-request-id.ts
  scripts/db/rebuild-conversations.ts
  scripts/generate-conversation-test-fixture.ts
  scripts/generate-conversation-test.ts
  scripts/init-database.sql
  scripts/test-fixture-generator.ts
  services/proxy/src/services/MetricsService.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/writer.ts
Due: eslint --fix, prettier --write

fix: preserve compact branch IDs and remove message count constraint
  scripts/db/rebuild-conversations.ts
Due: prettier --write

feat: add SQL query logging and clean up debug logs
  .env.example
  CLAUDE.md
  docs/04-Architecture/ADRs/README.md
  docs/04-Architecture/ADRs/adr-012-database-schema-evolution.md
  docs/04-Architecture/ADRs/adr-014-sql-query-logging.md
  package.json
  packages/shared/src/index.ts
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/conversation-linker.ts
  packages/shared/src/utils/db-query-executors.ts
  scripts/db/analyze-conversations.ts
  scripts/db/analyze-request-linking.ts
  scripts/db/backfill-system-hashes.ts
  scripts/db/rebuild-conversations.ts
  scripts/db/utils/create-logging-pool.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/services/api-client.ts
  services/proxy/src/middleware/logger.ts
  services/proxy/src/routes/api.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/services/database.ts
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/writer.ts
  services/proxy/src/utils/sql-logger.ts
Due: eslint --fix, prettier --write

Delete PLAN.md
  PLAN.md
Due: prettier --write

chore: remove unnecessary validation and clean up files
  scripts/debug-fixture.ts
  scripts/debug-hashes.ts
  services/proxy/scripts/build-bun.d.ts
  services/proxy/scripts/build-bun.d.ts.map
  services/proxy/src/middleware/validation.ts
Due: eslint --fix, prettier --write

chore: clean up and optimize package.json files
  package.json
  services/dashboard/package.json
  services/proxy/package.json
Due: prettier --write

chore: remove generate-conversation-test.ts script
  package.json
  scripts/generate-conversation-test.ts
Due: prettier --write

chore: remove unused vitest dependencies and configuration
  package.json
  test-setup/setup.ts
  test-setup/vitest.config.ts
  test/unit/message-formatting.test.ts
  test/unit/request-response-parsing.test.ts
  test/unit/request-type-identification.test.ts
Due: prettier --write

fix: resolve TypeScript errors in sql-logger.ts
  services/proxy/src/utils/sql-logger.ts
Due: eslint --fix, prettier --write

feat: add parameter redaction to SQL logging for security
  services/proxy/src/utils/sql-logger.ts
Due: eslint --fix, prettier --write

chore: remove generated build script declaration files
  .gitignore
  services/proxy/scripts/build-production.d.ts
  services/proxy/scripts/build-production.d.ts.map
Due: eslint --fix, prettier --write

fix: update sub-task detection test after detectBranch removal
  test/unit/subtask-database.test.ts
Due: none

fix: add missing @faker-js/faker dev dependency
  bun.lock
  package.json
Due: prettier --write

feat: rewrite rebuild-conversations to use conversation-linker library
  CLAUDE.md
  scripts/db/rebuild-conversations.ts
Due: prettier --write

Adds support for batch
  scripts/db/rebuild-conversations.ts
Due: prettier --write

Adds support for batch (#46)
  scripts/db/rebuild-conversations.ts
Due: prettier --write

feat: add tab UI and fix compact branch positioning in conversation view
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/types/conversation.ts
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

fix: add parent_request_id to query and fix TypeScript error
  scripts/db/rebuild-conversations-v2.ts
  services/dashboard/src/storage/reader.ts
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

fix: add parent_request_id to ApiRequest interface in reader.ts
  services/dashboard/src/storage/reader.ts
Due: eslint --fix, prettier --write

fix: apply compact branch offset to all requests in the branch
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

fix: use distance-based positioning for conversation tree
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

feat: improve tree node layout with wider boxes and single-line content
  services/dashboard/src/utils/conversation-graph.ts
  services/dashboard/src/utils/simple-graph-layout.ts
Due: eslint --fix, prettier --write

fix: remove view parameter from branch filter links
  services/dashboard/src/routes/conversation-detail.ts
Due: eslint --fix, prettier --write

feat: improve system-reminder removal in message linking
  packages/shared/src/index.ts
  packages/shared/src/utils/conversation-hash.ts
  packages/shared/src/utils/conversation-linker.ts
  packages/shared/src/utils/system-reminder.test.ts
  packages/shared/src/utils/system-reminder.ts
  scripts/db/backup-database.ts
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

Fix tests
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-start.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/02-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/03-re-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/04-compact.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/05-compact-follow-up.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/06-compact-weird.json
Due: eslint --fix, prettier --write

feat: improve system-reminder removal in message linking (#48)
  packages/shared/src/index.ts
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-start.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/02-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/03-re-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/04-compact.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/05-compact-follow-up.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/06-compact-weird.json
  packages/shared/src/utils/conversation-hash.ts
  packages/shared/src/utils/conversation-linker.ts
  packages/shared/src/utils/system-reminder.test.ts
  packages/shared/src/utils/system-reminder.ts
  scripts/db/backup-database.ts
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

feat: improve conversation linking to handle 'No response requested.' messages
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/07-no-response-requested.json
  packages/shared/src/utils/conversation-linker.ts
  packages/shared/src/utils/db-query-executors.ts
Due: eslint --fix, prettier --write

Delete scripts/db/rebuild-conversations-v2.ts
  scripts/db/rebuild-conversations-v2.ts
Due: prettier --write

feat: add tab UI and fix compact branch positioning in conversation view (#47)
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/storage/reader.ts
  services/dashboard/src/types/conversation.ts
  services/dashboard/src/utils/conversation-graph.ts
  services/dashboard/src/utils/simple-graph-layout.ts
Due: eslint --fix, prettier --write

refactor: unify conversation hashing logic in ConversationLinker
  packages/shared/src/index.ts
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-start.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/02-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/03-re-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/04-compact.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/05-compact-follow-up.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/06-compact-weird.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/07-duplicated-tools.json
  packages/shared/src/utils/conversation-hash-dual.test.ts
  packages/shared/src/utils/conversation-hash.test.ts
  packages/shared/src/utils/conversation-hash.ts
  packages/shared/src/utils/conversation-linker.ts
  scripts/conversation-hash-test-utils2.ts
  scripts/db/analyze-request-linking.ts
  scripts/test-hash-system-reminder.ts
Due: eslint --fix, prettier --write

refactor: unify conversation hashing logic in ConversationLinker (#50)
  packages/shared/src/index.ts
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-start.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/02-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/03-re-branching.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/04-compact.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/05-compact-follow-up.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/06-compact-weird.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/07-duplicated-tools.json
  packages/shared/src/utils/conversation-hash-dual.test.ts
  packages/shared/src/utils/conversation-hash.test.ts
  packages/shared/src/utils/conversation-hash.ts
  packages/shared/src/utils/conversation-linker.ts
  scripts/conversation-hash-test-utils2.ts
  scripts/db/analyze-request-linking.ts
  scripts/test-hash-system-reminder.ts
Due: eslint --fix, prettier --write

fix: add memory leak mitigation to rebuild-conversations script
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: add memory leak mitigation to rebuild-conversations script (#51)
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: incorrect branch detection for conversations with common first messages
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/conversation-linker.ts
  services/proxy/src/storage/writer.ts
Due: eslint --fix, prettier --write

feat: improve dashboard UI with 5 enhancements
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

fix: update CSS validation test to handle compound selectors
  test/unit/css-validation.test.ts
Due: none

feat: add --requests parameter to rebuild-conversations script
  scripts/db/rebuild-conversations.ts
Due: prettier --write

feat: add --yes flag to rebuild-conversations script
  scripts/db/rebuild-conversations.ts
Due: prettier --write
