Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{js,ts,tsx,jsx}": ["prettier --write"],
  "*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

feat: enhance dashboard with branch display, conversation IDs, and tree view improvements (#72)
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/routes/overview.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation-graph.ts
  services/proxy/src/routes/api.ts
  test/unit/subtask-database.test.ts
Due: eslint --fix, prettier --write

feat(dashboard): hide branch count display when only 1 branch exists
  services/dashboard/src/routes/overview.ts
Due: eslint --fix, prettier --write

feat(dashboard): hide branch count display when only 1 branch exists (#73)
  services/dashboard/src/routes/overview.ts
Due: eslint --fix, prettier --write

feat: add AI-powered conversation analysis feature plan
  docs/04-Architecture/feature-plan-ai-analysis.md
Due: prettier --write

refactor: update AI analysis plan to use Gemini 2.5 Pro instead of Claude
  docs/04-Architecture/feature-plan-ai-analysis.md
Due: prettier --write

experimenting analysis
  bun.lock
  package.json
  scripts/analyze-conversation-efficiency.ts
  scripts/analyze-conversation-prompt-only.ts
  scripts/demo-analysis-output.md
  scripts/list-conversations.ts
Due: prettier --write

feat: add database schema for AI-powered conversation analysis
  scripts/db/migrations/011-add-conversation-analyses.ts
  scripts/db/migrations/README.md
  scripts/init-database.sql
Due: prettier --write

feat(api): implement conversation analysis API endpoints
  packages/shared/src/types/analysis.ts
  packages/shared/src/types/index.ts
  scripts/db/migrations/009-add-conversation-analyses-table.ts
  scripts/init-database.sql
  services/proxy/src/app.ts
  services/proxy/src/routes/analyses.ts
Due: eslint --fix, prettier --write

docs: add comprehensive documentation for AI-powered conversation analysis
  CLAUDE.md
  docs/02-User-Guide/api-reference.md
  docs/03-Operations/database.md
  docs/04-Architecture/ADRs/README.md
  docs/04-Architecture/ADRs/adr-016-ai-powered-conversation-analysis.md
  docs/06-Reference/changelog.md
Due: prettier --write

feat: Add AI-powered conversation analysis with structured JSON output
  CLAUDE.md
  bun.lock
  docs/06-Reference/environment-vars.md
  packages/shared/src/types/conversation-analysis.ts
  packages/shared/src/types/index.ts
  scripts/db/migrations/009-add-conversation-analyses.ts
  services/dashboard/package.json
  services/dashboard/src/app.ts
  services/dashboard/src/prompts/analysis-prompt.ts
  services/dashboard/src/routes/conversation-analysis.ts
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/services/conversation-analyzer.ts
Due: eslint --fix, prettier --write

docs: add comprehensive documentation for Conversation Analysis API
  docs/02-User-Guide/api-reference.md
  docs/api/analysis-api-quick-reference.md
  docs/api/conversation-analysis-api.md
  docs/development/implementing-analysis-api.md
Due: prettier --write

feat: add database schema for AI-powered conversation analysis (#75)
  CLAUDE.md
  docs/02-User-Guide/api-reference.md
  docs/03-Operations/database.md
  docs/04-Architecture/ADRs/README.md
  docs/04-Architecture/ADRs/adr-016-ai-powered-conversation-analysis.md
  docs/06-Reference/changelog.md
  scripts/db/migrations/011-add-conversation-analyses.ts
  scripts/db/migrations/README.md
  scripts/init-database.sql
Due: prettier --write

feat(analysis): implement background processing for AI-powered conversation analysis
  bun.lock
  docker/docker-compose.yml
  packages/shared/src/config/index.ts
  packages/shared/src/types/analysis.ts
  packages/shared/src/types/index.ts
  scripts/db/migrations/011-add-analysis-jobs.ts
  scripts/db/migrations/012-add-conversation-analyses.ts
  services/analysis-worker/.eslintrc.json
  services/analysis-worker/Dockerfile
  services/analysis-worker/package.json
  services/analysis-worker/src/db.ts
  services/analysis-worker/src/geminiClient.ts
  services/analysis-worker/src/index.ts
  services/analysis-worker/src/logger.ts
  services/analysis-worker/src/worker.ts
  services/analysis-worker/tsconfig.json
  services/proxy/src/container.ts
  services/proxy/src/services/AnalysisJobService.ts
  services/proxy/src/services/MetricsService.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: resolve migration numbering conflict after merge
  CLAUDE.md
  scripts/db/migrations/011-add-conversation-analyses.ts
Due: prettier --write

chore: remove old migration file after renumbering
  scripts/db/migrations/009-add-conversation-analyses.ts
Due: prettier --write

Merge feature/ai-analysis-planning branch
  CLAUDE.md
  docs/03-Operations/database.md
  scripts/db/migrations/013-add-analysis-jobs.ts
  scripts/db/migrations/014-add-conversation-analyses-separate.ts
  scripts/db/migrations/README.md
  services/analysis-worker/tsconfig.json
Due: prettier --write

feat(ai-analysis): implement prompt engineering for conversation analysis
  CLAUDE.md
  bun.lock
  docs/00-Overview/features.md
  docs/04-Architecture/ADRs/adr-016-ai-powered-conversation-analysis.md
  docs/06-Reference/changelog.md
  docs/06-Reference/environment-vars.md
  packages/shared/package.json
  packages/shared/src/config/ai-analysis.ts
  packages/shared/src/config/index.ts
  packages/shared/src/index.ts
  packages/shared/src/prompts/__tests__/analysis.test.ts
  packages/shared/src/prompts/__tests__/truncation.test.ts
  packages/shared/src/prompts/analysis/index.ts
  packages/shared/src/prompts/analysis/v1/examples.json
  packages/shared/src/prompts/analysis/v1/system-prompt.md
  packages/shared/src/prompts/index.ts
  packages/shared/src/prompts/truncation.ts
  packages/shared/src/types/ai-analysis.ts
Due: eslint --fix, prettier --write

feat(analysis): Implement background processing for AI analysis
  .env.example
  CLAUDE.md
  docker/docker-compose.yml
  services/dashboard/src/lib/analysis-worker.ts
  services/dashboard/src/main.ts
  services/dashboard/src/storage/reader.ts
Due: eslint --fix, prettier --write

fix(analysis): Address pre-commit findings for AI analysis background processing
  .env.example
  CLAUDE.md
  docker/docker-compose.yml
  services/dashboard/src/lib/analysis-worker.ts
  services/dashboard/src/main.ts
Due: eslint --fix, prettier --write

feat: implement background processing for AI analysis
  bun.lock
  docker/docker-compose.yml
  services/analysis-worker/Dockerfile
  services/analysis-worker/package.json
  services/analysis-worker/src/index.ts
  services/analysis-worker/tsconfig.json
  services/proxy/src/analysis.ts
  services/proxy/src/services/ProxyService.ts
Due: eslint --fix, prettier --write

feat(dashboard): add image display support for tool_result content
  docs/02-User-Guide/dashboard-guide.md
  services/dashboard/public/styles.css
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

feat(dashboard): make image thumbnails smaller and clickable to expand
  services/dashboard/public/styles.css
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

fix(dashboard): add missing image thumbnail CSS to dashboard styles
  services/dashboard/public/styles.css
  services/dashboard/src/layout/styles.ts
Due: eslint --fix, prettier --write

fix(dashboard): improve thumbnail click handler with debugging
  services/dashboard/src/routes/request-details.ts
Due: eslint --fix, prettier --write

fix(dashboard): hide 'Show more' when only image content is hidden
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

fix(dashboard): correctly detect image-only content to hide Show more
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

feat(dashboard): add lightbox viewer for tool_result images
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/request-details.ts
Due: eslint --fix, prettier --write

feat(dashboard): add image display support for tool_result content (#79)
  docs/02-User-Guide/dashboard-guide.md
  services/dashboard/public/styles.css
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

Revert "docs: add comprehensive documentation for Conversation Analysis API"
  docs/02-User-Guide/api-reference.md
  docs/api/analysis-api-quick-reference.md
  docs/api/conversation-analysis-api.md
  docs/development/implementing-analysis-api.md
Due: prettier --write

Revert "feat(api): implement conversation analysis API endpoints"
  packages/shared/src/types/analysis.ts
  packages/shared/src/types/index.ts
  scripts/db/migrations/009-add-conversation-analyses-table.ts
  scripts/init-database.sql
  services/proxy/src/app.ts
  services/proxy/src/routes/analyses.ts
Due: eslint --fix, prettier --write

feat(dashboard): implement AI analysis API endpoints (Task 2)
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-016-ai-powered-conversation-analysis.md
  packages/shared/src/index.ts
  packages/shared/src/types/ai-analysis.ts
  services/dashboard/src/app.ts
  services/dashboard/src/routes/analysis-api.ts
  services/dashboard/src/services/api-client.ts
Due: eslint --fix, prettier --write

refactor(dashboard): enhance type safety and clean up code
  services/dashboard/src/routes/analysis-api.ts
  services/dashboard/src/services/api-client.ts
Due: eslint --fix, prettier --write

fix: add type annotation for Spark feedback API response
  services/dashboard/src/routes/request-details.ts
Due: eslint --fix, prettier --write

feat: skip Docker-based E2E tests in CI environment
  tests/e2e/claude-cli.test.ts
Due: none

style: fix formatting issues for prettier
  e2e/conversation-fea68778-ba10-4b00-a0fc-1506f5136faf.json
  e2e/mock-claude/server.ts
  e2e/requests-1751492706116.json
  e2e/requests-1751493144733.json
  e2e/src/apiClient.ts
  e2e/src/dbClient.ts
  e2e/src/export-conversation.ts
  e2e/src/runner.ts
  e2e/src/test-harness.ts
  e2e/test-simple.ts
  tests/e2e/claude-cli.test.ts
Due: prettier --write

feat(proxy): implement AI analysis background worker (Task 3)
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-016-ai-powered-conversation-analysis.md
  docs/06-Reference/environment-vars.md
  services/proxy/src/server.ts
  services/proxy/src/workers/ai-analysis/AnalysisWorker.ts
  services/proxy/src/workers/ai-analysis/GeminiService.ts
  services/proxy/src/workers/ai-analysis/db.ts
  services/proxy/src/workers/ai-analysis/index.ts
  services/proxy/tests/ai-analysis-db.test.ts
Due: eslint --fix, prettier --write

feat: implement mock Claude API service for E2E tests
  e2e/mock-claude.test.ts
  e2e/mock-claude/README.md
  e2e/mock-claude/bun.lock
  e2e/mock-claude/package.json
  e2e/mock-claude/server.ts
  e2e/mock-claude/test-data/by-feature/basic-completion/simple-stream.json
  e2e/mock-claude/test-data/by-feature/basic-completion/simple-text.json
  e2e/mock-claude/test-data/by-feature/tool-use/web-search-response.json
  e2e/mock-claude/test-data/by-response-type/errors/400-invalid-request.json
  e2e/mock-claude/test-data/by-response-type/errors/429-rate-limit.json
  e2e/mock-claude/test-data/by-response-type/errors/500-server-error.json
  e2e/mock-claude/test-data/zzz-default.json
  e2e/test-simple.ts
Due: prettier --write

feat(prompts): enhance environment variable support for AI analysis config
  docs/06-Reference/environment-vars.md
  packages/shared/src/config/ai-analysis.ts
Due: eslint --fix, prettier --write

docs: update documentation for enhanced AI analysis configuration
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-016-ai-powered-conversation-analysis.md
Due: prettier --write

feat(prompts): enhance environment variable support for AI analysis config (#81)
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-016-ai-powered-conversation-analysis.md
  docs/06-Reference/environment-vars.md
  packages/shared/src/config/ai-analysis.ts
Due: eslint --fix, prettier --write
