Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(grooming): enhance init-database.sql with best practices and documentation
  scripts/init-database.sql
Due: none

refactor(grooming): remove redundant manual subtask test script
  GROOMING.md
  scripts/create-fresh-task-and-test.ts
Due: prettier --write

refactor(grooming): enhance compute-fixture-hashes.ts with comprehensive improvements
  scripts/README.md
  scripts/compute-fixture-hashes.ts
Due: prettier --write

refactor(grooming): remove unused legacy test utility file
  scripts/conversation-hash-test-utils2.ts
Due: prettier --write

refactor(grooming): remove dangerous reset-stuck-analysis-jobs.ts script
  CLAUDE.md
  GROOMING.md
  package.json
  scripts/reset-stuck-analysis-jobs.ts
Due: prettier --write

refactor(grooming): remove redundant test-ai-analysis-prompts.ts script
  GROOMING.md
  scripts/test-ai-analysis-prompts.ts
Due: prettier --write

refactor(grooming): simplify generate-api-client.ts by removing dead code
  scripts/generate-api-client.ts
Due: prettier --write

refactor(grooming): remove dangerous test-max-retry-failure.ts script
  GROOMING.md
  package.json
  scripts/test-max-retry-failure.ts
Due: prettier --write

refactor(grooming): remove unused test-fixture-generator.ts script
  scripts/test-fixture-generator.ts
Due: prettier --write

refactor(docs): move copy-conversation documentation to proper location
  CLAUDE.md
  docs/03-Operations/utilities/copy-conversation.md
  docs/04-Architecture/grooming-logs/2025-01-19-conversation-copy-doc-refactor.md
  scripts/CONVERSATION_COPY.md
Due: prettier --write

refactor(scripts): update README.md to reflect current directory structure
  scripts/GROOMING_SUMMARY_README.md
  scripts/README.md
Due: prettier --write

refactor(ops): comprehensive refactoring of manage-nexus-proxies.sh
  docs/04-Architecture/ADRs/adr-021-manage-nexus-proxies-refactoring.md
  scripts/ops/manage-nexus-proxies.sh
Due: prettier --write

refactor(ops): comprehensive refactoring of update-proxy.sh
  docs/03-Operations/grooming/update-proxy-refactoring.md
  scripts/ops/update-proxy.sh
Due: prettier --write

refactor(ops): move operational documentation to centralized location
  docs/03-Operations/deployment/ops-scripts.md
  docs/04-Architecture/ADRs/adr-027-ops-documentation-refactoring.md
  scripts/ops/README.md
Due: prettier --write

refactor(scripts): enhance generate-conversation-test-fixture with type safety and better UX
  scripts/README.md
  scripts/REFACTORING-NOTES-generate-conversation-test-fixture.md
  scripts/generate-conversation-test-fixture.ts
Due: prettier --write

refactor(scripts): convert simulate-subtask-creation to proper integration test
  docs/grooming/simulate-subtask-creation-refactor.md
  scripts/README.md
  scripts/simulate-subtask-creation.ts
  test/integration/README.md
  test/integration/subtask-linking.test.ts
Due: prettier --write

refactor(scripts): remove redundant test-hash-system-reminder.ts
  scripts/test-hash-system-reminder.ts
Due: prettier --write

refactor(scripts): consolidate refactoring notes into GROOMING.md
  GROOMING.md
  scripts/REFACTORING-NOTES-generate-conversation-test-fixture.md
  scripts/REFACTORING_NOTES.md
Due: prettier --write

refactor(scripts): improve copy-conversation.ts code quality
  docs/04-Architecture/grooming-logs/2025-01-19-copy-conversation-script-refactor.md
  scripts/copy-conversation.ts
Due: prettier --write

refactor: remove redundant test-error-propagation.mjs script
  GROOMING_LOG.md
  test-error-propagation.mjs
Due: prettier --write

refactor(playwright): improve configuration with type safety and environment support
  GROOMING.md
  playwright.config.ts
Due: prettier --write

chore: remove empty .npmrc file
  .npmrc
  bun.lock
Due: none

chore: remove manual JSON viewer test files from root
  .gitignore
  .husky/pre-commit
  GROOMING.md
  client-setup/.claude.json
  client-setup/.claude.json.example
  client-setup/.credentials.json
  client-setup/.credentials.json.example
  client-setup/.gitkeep
  client-setup/README.md
  docs/04-Architecture/ADRs/adr-020-remove-committed-credentials.md
  test-arrow-size.html
  test-collapse-fix.html
  test-inspect-arrows.html
Due: prettier --write

refactor(.env.example): comprehensive update for production readiness
  .env.example
  docs/grooming/env-example-refactoring.md
Due: prettier --write

docs(grooming): add summary for non-existent test-api.sh
  scripts/GROOMING_SUMMARY_test-api.md
Due: prettier --write

refactor(MessageController): improve separation of concerns and type safety
  services/proxy/src/controllers/MessageController.ts
Due: eslint --fix, prettier --write

refactor(proxy/app): improve code quality and maintainability
  docs/grooming/proxy-app-refactoring.md
  services/proxy/src/app.ts
  services/proxy/src/constants.ts
  services/proxy/src/handlers/client-setup.ts
  services/proxy/src/utils/endpoint-metadata.ts
  services/proxy/src/utils/error-response.ts
Due: eslint --fix, prettier --write

refactor(proxy/api): improve code quality and maintainability
  services/proxy/src/routes/README.md
  services/proxy/src/routes/api-constants.ts
  services/proxy/src/routes/api-queries.ts
  services/proxy/src/routes/api-types.ts
  services/proxy/src/routes/api-utils.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

refactor(proxy/analyses): improve code quality and maintainability
  GROOMING_LOG.md
  services/proxy/src/constants.ts
  services/proxy/src/routes/__tests__/analyses.test.ts
  services/proxy/src/routes/analyses.ts
  services/proxy/src/types/analysis-responses.ts
  services/proxy/src/utils/audit-log.ts
  services/proxy/src/utils/zod-error-handler.ts
Due: eslint --fix, prettier --write

refactor(proxy/spark-api): improve code quality and maintainability
  GROOMING_LOG.md
  services/proxy/src/routes/spark-api.ts
Due: eslint --fix, prettier --write

refactor(proxy/health): improve production readiness of health check endpoints
  GROOMING.md
  services/proxy/src/routes/health.ts
Due: eslint --fix, prettier --write

refactor(proxy/mcp-api): improve production readiness of MCP API endpoints
  services/proxy/src/routes/MCP_API_REFACTORING.md
  services/proxy/src/routes/mcp-api.ts
Due: eslint --fix, prettier --write

refactor(proxy/tests): improve analyses.test.ts code quality and maintainability
  services/proxy/src/routes/__tests__/analyses.test.ts
Due: eslint --fix, prettier --write

refactor(proxy): improve main.ts code quality and maintainability
  services/proxy/src/main.ts
Due: eslint --fix, prettier --write

refactor(proxy/middleware): improve api-auth security and code quality
  services/dashboard/src/services/api-client.ts
  services/proxy/src/middleware/__tests__/api-auth.test.ts
  services/proxy/src/middleware/api-auth.ts
Due: eslint --fix, prettier --write

refactor(proxy/middleware): improve validation middleware code quality
  docs/grooming-logs/api-auth-refactoring-2025-01-20.md
  packages/shared/src/utils/errors.ts
  packages/shared/src/validators/claude.validators.ts
  packages/shared/src/validators/index.ts
  services/proxy/src/middleware/validation.ts
Due: eslint --fix, prettier --write

refactor(proxy/middleware): improve analysis rate limit middleware code quality
  services/proxy/src/middleware/__tests__/analysis-rate-limit.test.ts
  services/proxy/src/middleware/analysis-rate-limit.ts
Due: eslint --fix, prettier --write

refactor(proxy/middleware): improve rate-limit middleware code quality
  docs/04-Architecture/ADRs/adr-023-rate-limit-middleware-refactoring.md
  services/proxy/src/middleware/rate-limit.ts
Due: eslint --fix, prettier --write

refactor(proxy/middleware): improve logger code quality and maintainability
  docs/04-Architecture/ADRs/adr-024-logger-refactoring.md
  services/proxy/src/middleware/api-auth.ts
  services/proxy/src/middleware/client-auth.ts
  services/proxy/src/middleware/domain-extractor.ts
  services/proxy/src/middleware/logger.ts
  services/proxy/src/routes/api.ts
  services/proxy/src/services/ClaudeApiClient.ts
  services/proxy/src/services/MetricsService.ts
  services/proxy/src/utils/audit-log.ts
Due: eslint --fix, prettier --write

refactor(middleware): consolidate request-id middleware into shared package
  bun.lock
  docs/04-Architecture/ADRs/adr-028-request-id-middleware-consolidation.md
  docs/04-Architecture/grooming/2025-01-20-request-id-middleware-grooming.md
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/middleware/index.ts
  packages/shared/src/middleware/request-id.ts
  services/dashboard/src/app.ts
  services/dashboard/src/middleware/request-id.ts
  services/proxy/src/app.ts
  services/proxy/src/middleware/request-id.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: packages/**/*.{js,ts,tsx,jsx}) or (any of: services/**/*.{js,ts,tsx,jsx})
  prettier --write: ((((any of: packages/**/*.{js,ts,tsx,jsx}) or (any of: services/**/*.{js,ts,tsx,jsx})) or (any of: scripts/**/*.{js,ts,tsx,jsx})) or (any of: *.{json,md,mdx,yml,yaml})) or (any of: *.css)
