Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{js,ts,tsx,jsx}": ["prettier --write"],
  "*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

feat: add AWS env tag support to manage-nexus-proxies script (#39)
  README.md
  docs/03-Operations/deployment/aws-infrastructure.md
  docs/03-Operations/deployment/docker.md
  docs/README.md
  scripts/ops/README.md
  scripts/ops/manage-nexus-proxies.sh
Due: prettier --write

fix: add missing response_body mapping in reader.ts
  services/dashboard/src/storage/reader.ts
Due: eslint --fix, prettier --write

feat: improve conversation details page formatting (#41)
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/storage/reader.ts
  services/dashboard/src/types/conversation.ts
Due: eslint --fix, prettier --write

feat: add conversation copy script for database table migration
  CLAUDE.md
  bun.lock
  package.json
  scripts/CONVERSATION_COPY.md
  scripts/copy-conversation.ts
Due: prettier --write

refactor: update conversation copy script for cross-database copying
  CLAUDE.md
  scripts/CONVERSATION_COPY.md
  scripts/copy-conversation.ts
Due: prettier --write

feat: add Spark tool feedback integration to dashboard
  CLAUDE.md
  packages/shared/src/config/index.ts
  services/dashboard/src/components/spark-feedback.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/services/api-client.ts
  services/dashboard/src/utils/conversation.ts
  services/dashboard/src/utils/spark.ts
  services/proxy/src/app.ts
  services/proxy/src/routes/spark-api.ts
Due: eslint --fix, prettier --write

fix: update default table names to api_requests
  scripts/CONVERSATION_COPY.md
  scripts/copy-conversation.ts
Due: prettier --write

feat: implement dual hash system for conversation linking
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-003-conversation-tracking.md
  packages/shared/src/index.ts
  packages/shared/src/utils/conversation-hash-dual.test.ts
  packages/shared/src/utils/conversation-hash.ts
  scripts/db/backfill-system-hashes.ts
  scripts/db/migrations/006-split-conversation-hashes.ts
  services/proxy/src/services/MetricsService.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/writer.ts
Due: eslint --fix, prettier --write

fix: apply code formatting
  docs/04-Architecture/ADRs/adr-003-conversation-tracking.md
  packages/shared/src/index.ts
  packages/shared/src/utils/conversation-hash-dual.test.ts
  packages/shared/src/utils/conversation-hash.ts
  scripts/db/backfill-system-hashes.ts
  scripts/db/migrations/006-split-conversation-hashes.ts
  services/proxy/src/services/ProxyService.ts
Due: eslint --fix, prettier --write

fix: update test parameter indices after adding system_hash
  test/unit/subtask-database.test.ts
Due: none

feat: add special conversation linking for summarization and continuation
  scripts/db/rebuild-conversations.ts
  test/unit/conversation-linking-special.test.ts
Due: prettier --write

feat: enhance backup-database script with custom name support
  scripts/REFACTORING_NOTES.md
  scripts/copy-conversation-refactored.ts
  scripts/db/backup-database-refactored.ts
  scripts/db/backup-database.ts
Due: prettier --write

fix: properly render HTML for star ratings in Spark feedback UI
  services/dashboard/src/components/spark-feedback.ts
Due: eslint --fix, prettier --write

feat: enhance Spark recommendation display with query/context and markdown rendering
  services/dashboard/src/components/spark-feedback.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/spark.ts
Due: eslint --fix, prettier --write

feat: integrate Spark recommendations directly into conversation view
  services/dashboard/src/components/spark-recommendation-inline.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

fix: update Spark API routes to remove /spark prefix
  CLAUDE.md
  services/dashboard/src/components/spark-feedback.ts
  services/dashboard/src/components/spark-recommendation-inline.ts
  services/dashboard/src/routes/request-details.ts
  services/proxy/src/routes/spark-api.ts
Due: eslint --fix, prettier --write

fix: revert to correct API structure - proxy exposes /spark/* but calls Spark API without prefix
  CLAUDE.md
  services/dashboard/src/components/spark-feedback.ts
  services/dashboard/src/components/spark-recommendation-inline.ts
  services/dashboard/src/routes/request-details.ts
  services/proxy/src/routes/spark-api.ts
Due: eslint --fix, prettier --write

feat: add --limit and --debug-conversation-changes to rebuild script
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: apply code formatting
  scripts/db/rebuild-conversations.ts
  test/unit/conversation-linking-special.test.ts
Due: prettier --write

feat: add --since parameter to backup-database scripts for timestamp filtering
  scripts/db/backup-database-refactored.ts
  scripts/db/backup-database.ts
Due: prettier --write

refactor: keep only refactored versions of backup and copy scripts
  scripts/copy-conversation-refactored.ts
  scripts/copy-conversation.ts
  scripts/db/backup-database-refactored.ts
  scripts/db/backup-database.ts
Due: prettier --write

fix: update backup script to maintain foreign key integrity with --since filter
  scripts/db/backup-database.ts
Due: prettier --write

feat: add batched rebuild script for memory-efficient conversation processing
  scripts/README.md
  scripts/db/rebuild-conversations-batched.ts
  scripts/db/rebuild-conversations.ts
Due: prettier --write

feat: add conversation integrity verification to rebuild scripts
  scripts/db/rebuild-conversations-batched.ts
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: add missing /api prefix to Spark feedback batch API call
  services/dashboard/src/routes/request-details.ts
Due: eslint --fix, prettier --write

fix: send Spark feedback requests to proxy service instead of dashboard
  services/dashboard/src/components/spark-feedback.ts
  services/dashboard/src/components/spark-recommendation-inline.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

feat: add Spark tool feedback integration
  CLAUDE.md
  services/dashboard/src/app.ts
  services/dashboard/src/components/spark-recommendation-inline.ts
  services/dashboard/src/routes/auth.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/routes/spark-proxy.ts
  services/proxy/src/main.ts
  services/proxy/src/middleware/api-auth.ts
  services/proxy/src/routes/spark-api.ts
  services/proxy/src/server.ts
Due: eslint --fix, prettier --write

feat: add Spark tool feedback integration to dashboard (#43)
  CLAUDE.md
  packages/shared/src/config/index.ts
  services/dashboard/src/app.ts
  services/dashboard/src/components/spark-feedback.ts
  services/dashboard/src/components/spark-recommendation-inline.ts
  services/dashboard/src/routes/auth.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/routes/spark-proxy.ts
  services/dashboard/src/services/api-client.ts
  services/dashboard/src/utils/conversation.ts
  services/dashboard/src/utils/spark.ts
  services/proxy/src/app.ts
  services/proxy/src/main.ts
  services/proxy/src/middleware/api-auth.ts
  services/proxy/src/routes/spark-api.ts
  services/proxy/src/server.ts
Due: eslint --fix, prettier --write

feat: add conversation copy script for database table migration (#42)
  CLAUDE.md
  bun.lock
  package.json
  scripts/CONVERSATION_COPY.md
  scripts/REFACTORING_NOTES.md
  scripts/copy-conversation.ts
  scripts/db/backup-database.ts
Due: prettier --write

Merge main and fix TypeScript build configuration
  PLAN.md
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/types/claude.ts
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-continuation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/02-compact-conversation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/03-branch-creation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/04-system-prompt-change.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/README.md
  packages/shared/src/utils/conversation-linker.ts
  packages/shared/tsconfig.json
  scripts/db/rebuild-conversations-batched.ts
  services/proxy/src/app.ts
  services/proxy/src/middleware/validation.ts
  services/proxy/src/services/MetricsService.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/writer.ts
  services/proxy/tsconfig.json
Due: eslint --fix, prettier --write

fix: update TypeScript paths to reference JS files for runtime resolution
  packages/shared/tsconfig.test.json
  services/proxy/tsconfig.json
Due: prettier --write

fix: resolve TypeScript configuration and ESLint errors
  bun.lock
  services/proxy/package.json
  services/proxy/scripts/build-bun.d.ts
  services/proxy/scripts/build-bun.d.ts.map
  services/proxy/scripts/build-production.d.ts
  services/proxy/scripts/build-production.d.ts.map
  services/proxy/src/services/ProxyService.ts
  services/proxy/tsconfig.json
Due: eslint --fix, prettier --write

fix: resolve all ESLint and formatting issues
  PLAN.md
  eslint.config.js
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-continuation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/02-compact-conversation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/03-branch-creation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/04-system-prompt-change.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/README.md
  packages/shared/src/utils/conversation-linker.ts
  packages/shared/tsconfig.test.json
  services/proxy/src/middleware/validation.ts
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/writer.ts
Due: eslint --fix, prettier --write

fix: add .js extensions to imports in conversation-linker
  packages/shared/src/utils/conversation-linker.ts
Due: eslint --fix, prettier --write

fix: use tsc --build for shared package build
  packages/shared/package.json
Due: prettier --write

debug: add ls command to check shared build output
  docker/proxy/Dockerfile
Due: none

fix: use root tsc build for shared package in Docker
  docker/proxy/Dockerfile
Due: none

fix: use root tsc build for shared package in dashboard Docker
  docker/dashboard/Dockerfile
Due: none

test: add comprehensive tests for dual hash system
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/02-compact-conversation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/05-restart-claude-branch.json
  services/dashboard/tsconfig.json
  services/proxy/src/storage/StorageAdapter.ts
Due: eslint --fix, prettier --write

feat: update test generation scripts to include full message bodies
  package.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-continuation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/01-simple-start.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/02-compact-conversation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/03-branch-creation.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/04-system-prompt-change.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/05-restart-claude-branch.json
  scripts/README.md
  scripts/generate-conversation-test-fixture.ts
  scripts/generate-conversation-test.ts
Due: prettier --write
