Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "{packages,services}/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{js,ts}": ["prettier --write"],
  "**/*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "**/*.css": ["prettier --write"]
}

docs: fix issues identified in code review
  docs/01-Getting-Started/repository-grooming.md
  docs/02-User-Guide/ai-analysis.md
  docs/02-User-Guide/claude-cli.md
  docs/README.md
Due: prettier --write

docs: clean up repository by organizing documentation files (#94)
  .github/PRETTIER_CI_SETUP.md
  QUICKSTART.md
  docker/claude-cli/CLAUDE_MONITOR_INTEGRATION.md
  docs/01-Getting-Started/development.md
  docs/01-Getting-Started/repository-grooming.md
  docs/02-User-Guide/ai-analysis.md
  docs/02-User-Guide/claude-cli.md
  docs/README.md
Due: prettier --write

feat: add screenshots to README to showcase key features
  README.md
Due: prettier --write

fix: reduce screenshot sizes in README
  README.md
Due: prettier --write

docs: enhance Objectives section and improve README structure
  README.md
Due: prettier --write

docs: add Key Concepts section to explain terminology
  README.md
Due: prettier --write

fix: resolve TypeScript type instantiation depth error in analyses route
  services/proxy/src/routes/analyses.ts
Due: eslint --fix, prettier --write

Adds disclaimer
  README.md
Due: prettier --write

feat: add screenshots to README to showcase key features (#95)
  README.md
  services/proxy/src/routes/analyses.ts
Due: eslint --fix, prettier --write

feat: make Docker Compose automatically create network
  docker/docker-compose.yml
  scripts/ops/update-proxy.sh
Due: prettier --write

fix: restore network creation in update-proxy.sh for independence
  scripts/ops/update-proxy.sh
Due: none

fix: remove configuration drift warning from update-proxy.sh
  scripts/ops/update-proxy.sh
Due: none

feat: make Docker Compose automatically create network (#97)
  docker/docker-compose.yml
Due: prettier --write

feat: data sampling script
  docs/sample-data-setup.md
  pnpm-lock.yaml
  scripts/extract-sample-data.ts
  scripts/load-sample-data.ts
Due: prettier --write

feat(frontend): weekly usage
  pnpm-lock.yaml
  services/dashboard/src/routes/token-usage.ts
Due: eslint --fix, prettier --write

feat: account pooling v1
  CLAUDE.md
  pnpm-lock.yaml
  services/proxy/src/credentials.ts
  services/proxy/src/routes/api.ts
  services/proxy/src/server.ts
  services/proxy/src/services/AccountPoolService.ts
  services/proxy/src/services/AuthenticationService.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/services/__tests__/AccountPoolService.test.ts
Due: eslint --fix, prettier --write

feat: remove circuit breaker and pass through Claude API errors directly
  docs/04-Architecture/ADRs/README.md
  docs/04-Architecture/ADRs/adr-018-ai-powered-conversation-analysis.md
  docs/04-Architecture/ADRs/adr-020-circuit-breaker-removal.md
  packages/shared/src/config/index.ts
  packages/shared/src/index.ts
  packages/shared/src/utils/circuit-breaker.ts
  packages/shared/src/utils/retry.ts
  services/proxy/src/services/ClaudeApiClient.ts
  services/proxy/src/utils/circuit-breaker.ts
  services/proxy/src/utils/retry.ts
Due: eslint --fix, prettier --write

docs: add error handling and resilience features to documentation
  docs/00-Overview/features.md
Due: prettier --write

feat: remove circuit breaker pattern and improve retry logic (#101)
  docs/00-Overview/features.md
  docs/04-Architecture/ADRs/README.md
  docs/04-Architecture/ADRs/adr-018-ai-powered-conversation-analysis.md
  docs/04-Architecture/ADRs/adr-020-circuit-breaker-removal.md
  packages/shared/src/config/index.ts
  packages/shared/src/index.ts
  packages/shared/src/utils/circuit-breaker.ts
  packages/shared/src/utils/retry.ts
  services/proxy/src/services/ClaudeApiClient.ts
  services/proxy/src/utils/circuit-breaker.ts
  services/proxy/src/utils/retry.ts
Due: eslint --fix, prettier --write

feat: add rate limit tracking support
  agents/README.md
  packages/shared/src/types/index.ts
  packages/shared/src/types/rate-limit.ts
  scripts/db/migrations/012-add-rate-limit-tracking.ts
  services/dashboard/src/routes/token-usage.ts
  services/dashboard/src/services/api-client.ts
  services/proxy/src/container.ts
  services/proxy/src/mcp/AgentRegistryService.ts
  services/proxy/src/mcp/types/agents.ts
  services/proxy/src/routes/api.ts
  services/proxy/src/services/ClaudeApiClient.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/services/RateLimitService.ts
  services/proxy/src/services/TokenUsageService.ts
Due: eslint --fix, prettier --write

fix: exclude login route from CSRF protection
  services/dashboard/src/middleware/csrf.ts
Due: eslint --fix, prettier --write

feat: enhance token usage graph with 7-day view and improved visualization
  services/dashboard/src/routes/token-usage.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

feat: change token usage graph to show 5-hour sliding window
  services/dashboard/src/routes/token-usage.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

feat: enhance token usage charts with visual markers and dynamic colors
  services/dashboard/src/routes/token-usage.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

feat: implement event-based rate limit tracking with enhanced visualization
  CLAUDE.md
  packages/shared/src/types/rate-limit.ts
  scripts/db/migrations/013-add-rate-limit-events.ts
  scripts/maintain-rate-limit-partitions.ts
  services/dashboard/src/routes/token-usage.ts
  services/dashboard/src/services/api-client.ts
  services/proxy/src/routes/api.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/services/RateLimitService.ts
Due: eslint --fix, prettier --write

feat: enhance token usage display with 7-day sliding window chart
  services/dashboard/src/routes/token-usage.ts
  services/dashboard/src/services/api-client.ts
  services/proxy/src/routes/api.ts
  services/proxy/src/services/TokenUsageService.ts
Due: eslint --fix, prettier --write

feat: update all accounts overview to show 7-day sliding window charts
  services/dashboard/src/routes/token-usage.ts
Due: eslint --fix, prettier --write

feat: add hover tooltips to display token values on charts
  services/dashboard/src/routes/token-usage.ts
Due: eslint --fix, prettier --write

feat: replace individual account charts with 24h and 7-day views
  services/dashboard/src/routes/token-usage.ts
Due: eslint --fix, prettier --write

fix: adjust chart scale to 600k tokens and fix 7-day chart API calls
  services/dashboard/src/routes/token-usage.ts
Due: eslint --fix, prettier --write

fix: use correct API client method names for token usage
  services/dashboard/src/routes/token-usage.ts
Due: eslint --fix, prettier --write

fix: resolve JavaScript variable scope conflict in charts
  services/dashboard/src/routes/token-usage.ts
Due: eslint --fix, prettier --write

fix: update rate limit display to rate limit warning with orange color
  services/dashboard/src/routes/token-usage.ts
Due: eslint --fix, prettier --write

fix: add explicit type annotations for map parameters in template literals
  services/dashboard/src/routes/token-usage.ts
Due: eslint --fix, prettier --write

feat: enhance token usage display with 7-day sliding window chart (#103)
  services/dashboard/src/routes/token-usage.ts
  services/dashboard/src/services/api-client.ts
  services/proxy/src/routes/api.ts
  services/proxy/src/services/TokenUsageService.ts
Due: eslint --fix, prettier --write

fix: resolve CSRF token error on login page
  services/dashboard/src/app.ts
  services/dashboard/src/middleware/csrf.ts
  services/dashboard/src/routes/auth.ts
Due: eslint --fix, prettier --write

fix: add support for CSRF token in form body
  services/dashboard/src/middleware/csrf.ts
  services/dashboard/src/routes/auth.ts
Due: eslint --fix, prettier --write

fix: add proper TypeScript types for auth routes
  services/dashboard/src/routes/auth.ts
Due: eslint --fix, prettier --write

feat: add mouse wheel zoom to conversation tree view
  services/dashboard/src/routes/conversation-detail.ts
Due: eslint --fix, prettier --write

feat: add nexus logo to dashboard header
  services/dashboard/src/components/logo.ts
  services/dashboard/src/layout/index.ts
Due: eslint --fix, prettier --write
