Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(dashboard): implement AI analysis UI panel (Task 5)
  services/dashboard/src/app.ts
  services/dashboard/src/layout/index.ts
  services/dashboard/src/middleware/csrf.ts
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/routes/partials/analysis.ts
  services/dashboard/src/utils/html.ts
Due: eslint --fix, prettier --write

feat(config): implement centralized configuration for AI analysis (Task 6)
  .env.example
  CLAUDE.md
  docs/06-Reference/environment-vars.md
  packages/shared/src/config/ai-analysis.ts
  packages/shared/src/config/index.ts
  packages/shared/src/index.ts
  services/proxy/src/workers/ai-analysis/AnalysisWorker.ts
  services/proxy/src/workers/ai-analysis/GeminiService.ts
  services/proxy/src/workers/ai-analysis/db.ts
  services/proxy/src/workers/ai-analysis/index.ts
Due: eslint --fix, prettier --write

fix(config): rename MAX_PROMPT_TOKENS to INPUT_TRUNCATION_TARGET_TOKENS for clarity
  .env.example
  CLAUDE.md
  docs/06-Reference/environment-vars.md
  packages/shared/src/config/ai-analysis.ts
Due: eslint --fix, prettier --write

feat(security): implement AI analysis security considerations (Task 7)
  bun.lock
  docs/03-Operations/ai-analysis-security.md
  docs/06-Reference/environment-vars.md
  packages/shared/package.json
  packages/shared/src/config/index.ts
  packages/shared/src/types/ai-analysis.ts
  scripts/db/migrations/012-add-analysis-audit-log.ts
  services/dashboard/package.json
  services/proxy/package.json
  services/proxy/src/app.ts
  services/proxy/src/middleware/analysis-rate-limit.ts
  services/proxy/src/middleware/sanitization.ts
  services/proxy/src/routes/analyses.ts
  services/proxy/src/workers/ai-analysis/GeminiService.ts
Due: eslint --fix, prettier --write

docs: update documentation and fix migration script permissions
  docs/00-Overview/features.md
  docs/06-Reference/changelog.md
  scripts/db/migrations/012-add-analysis-audit-log.ts
  scripts/db/migrations/README.md
Due: prettier --write

fix(ci): resolve TypeScript compilation errors for AI analysis security
  packages/shared/tsconfig.json
  services/dashboard/tsconfig.json
  services/proxy/src/middleware/analysis-rate-limit.ts
  services/proxy/src/middleware/sanitization.ts
  services/proxy/tsconfig.json
Due: eslint --fix, prettier --write

fix: add @types/glob to resolve TypeScript compilation errors
  bun.lock
  package.json
Due: prettier --write

fix: Apply ESLint fixes after merge
  bun.lock
  services/proxy/src/app.ts
  services/proxy/src/workers/ai-analysis/GeminiService.ts
Due: eslint --fix, prettier --write

fix: Properly type status code for TypeScript compatibility
  services/proxy/src/app.ts
Due: eslint --fix, prettier --write

feat(config): implement centralized configuration for AI analysis (Task 6) (#82)
  .env.example
  CLAUDE.md
  bun.lock
  docs/06-Reference/environment-vars.md
  package.json
  packages/shared/src/config/ai-analysis.ts
  packages/shared/src/config/index.ts
  packages/shared/src/index.ts
  services/proxy/src/app.ts
  services/proxy/src/workers/ai-analysis/AnalysisWorker.ts
  services/proxy/src/workers/ai-analysis/GeminiService.ts
  services/proxy/src/workers/ai-analysis/db.ts
  services/proxy/src/workers/ai-analysis/index.ts
Due: eslint --fix, prettier --write

feat: implement MCP (Model Context Protocol) server for prompts sharing
  .env.example
  bun.lock
  docs/04-Architecture/ADRs/adr-016-mcp-server-implementation.md
  docs/04-Architecture/mcp-server-implementation-plan.md
  packages/shared/src/config/index.ts
  scripts/db/migrations/009-add-mcp-prompt-tables.ts
  services/dashboard/src/app.ts
  services/dashboard/src/layout/index.ts
  services/dashboard/src/routes/dashboard-api.ts
  services/dashboard/src/routes/mcp-proxy.ts
  services/dashboard/src/routes/prompt-detail.ts
  services/dashboard/src/routes/prompts.ts
  services/dashboard/src/services/api-client.ts
  services/proxy/package.json
  services/proxy/src/app.ts
  services/proxy/src/container.ts
  services/proxy/src/mcp/GitHubSyncService.ts
  services/proxy/src/mcp/JsonRpcHandler.ts
  services/proxy/src/mcp/McpServer.ts
  services/proxy/src/mcp/PromptService.ts
  services/proxy/src/mcp/SyncScheduler.ts
  services/proxy/src/mcp/types/prompts.ts
  services/proxy/src/mcp/types/protocol.ts
  services/proxy/src/routes/mcp-api.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript and ESLint errors in MCP implementation
  services/proxy/src/mcp/GitHubSyncService.ts
  services/proxy/src/mcp/PromptService.ts
  services/proxy/src/mcp/SyncScheduler.ts
  services/proxy/src/routes/mcp-api.ts
Due: eslint --fix, prettier --write

fix: resolve critical P0 security vulnerabilities in MCP implementation
  services/proxy/src/mcp/McpServer.ts
  services/proxy/src/mcp/PromptService.ts
Due: eslint --fix, prettier --write

fix: add authentication and rate limiting to MCP endpoints
  services/proxy/src/app.ts
Due: eslint --fix, prettier --write

fix: critical security vulnerabilities in MCP implementation
  eslint.config.js
  services/proxy/src/mcp/__tests__/McpServer.test.ts
  services/proxy/src/mcp/__tests__/PromptService.test.ts
  services/proxy/tsconfig.json
Due: eslint --fix, prettier --write

feat(dashboard): clean up analysis panel UI to match timeline design
  services/dashboard/src/routes/partials/analysis.ts
Due: eslint --fix, prettier --write

fix(dashboard): fix TypeScript errors with GetAnalysisResponse type
  services/dashboard/src/routes/partials/analysis.ts
Due: eslint --fix, prettier --write

Create grooming.md
  prompts/grooming.md
Due: prettier --write

feat(ai-analysis): handle unparseable JSON responses gracefully
  services/proxy/src/workers/ai-analysis/GeminiService.ts
  services/proxy/src/workers/ai-analysis/db.ts
Due: eslint --fix, prettier --write

feat(ai-analysis): automatically fail jobs that exceed max retries
  scripts/reset-stuck-analysis-jobs.ts
  scripts/test-max-retry-failure.ts
  services/proxy/src/workers/ai-analysis/AnalysisWorker.ts
  services/proxy/src/workers/ai-analysis/db.ts
Due: eslint --fix, prettier --write

fix: update dashboard to use correct MCP API endpoints
  services/dashboard/src/routes/mcp-proxy.ts
  services/dashboard/src/routes/prompt-detail.ts
  services/dashboard/src/routes/prompts.ts
Due: eslint --fix, prettier --write

fix: make MCP API endpoints work without GitHub sync configured
  services/proxy/src/app.ts
  services/proxy/src/routes/mcp-api.ts
Due: eslint --fix, prettier --write

feat: add initial MCP prompt templates
  prompts/README.md
  prompts/code-review.yaml
  prompts/test-generator.yaml
Due: prettier --write

fix: remove trailing slash from GitHub path to fix API calls
  services/proxy/src/mcp/GitHubSyncService.ts
Due: eslint --fix, prettier --write

fix: add test tsconfig files for services to resolve ESLint errors
  eslint.config.js
  services/dashboard/tsconfig.test.json
  services/proxy/tsconfig.test.json
Due: prettier --write

fix: correct HTML rendering and styling for MCP prompts page
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/prompts.ts
Due: eslint --fix, prettier --write

fix: update tests to match new AI analysis schema
  packages/shared/src/prompts/__tests__/analysis.test.ts
  packages/shared/src/types/__tests__/ai-analysis.test.ts
Due: eslint --fix, prettier --write

fix: update AI analysis test data to match new schema structure
  packages/shared/src/prompts/__tests__/analysis.test.ts
  packages/shared/src/types/__tests__/ai-analysis.test.ts
  services/proxy/tests/ai-analysis-db.test.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors in MCP implementation
  bun.lock
  package.json
  services/proxy/src/app.ts
  services/proxy/src/mcp/GitHubSyncService.ts
  services/proxy/src/mcp/__tests__/McpServer.test.ts
  services/proxy/src/mcp/__tests__/PromptService.test.ts
Due: eslint --fix, prettier --write

fix: format eslint.config.js with prettier
  eslint.config.js
Due: none

merge: sync with main branch and format new grooming.md file
  prompts/grooming.md
Due: prettier --write

fix: correct HTML rendering in prompt detail page
  services/dashboard/src/routes/prompt-detail.ts
Due: eslint --fix, prettier --write

chore: complete cleanup of database-based MCP implementation
  .gitignore
  bun.lock
  docs/04-Architecture/ADRs/adr-016-mcp-server-implementation.md
  package.json
  prompts/code-review.yaml
  prompts/greeting.yaml
  prompts/test-generator.yaml
  scripts/db/migrations/009-add-mcp-prompt-tables.ts
  services/dashboard/src/routes/prompt-detail.ts
  services/dashboard/src/routes/prompts.ts
  services/proxy/src/app.ts
  services/proxy/src/container.ts
  services/proxy/src/mcp/GitHubSyncService.ts
  services/proxy/src/mcp/McpServer.ts
  services/proxy/src/mcp/PromptRegistryService.ts
  services/proxy/src/mcp/PromptService.ts
  services/proxy/src/mcp/__tests__/McpServer.test.ts
  services/proxy/src/mcp/__tests__/PromptService.test.ts
  services/proxy/src/mcp/types/prompts.ts
  services/proxy/src/routes/mcp-api.ts
Due: eslint --fix, prettier --write

fix: format grooming.md to fix CI
  prompts/grooming.md
Due: prettier --write

docs: update MCP documentation to reflect file-based implementation
  .env.example
  docs/04-Architecture/ADRs/adr-016-mcp-server-implementation.md
  docs/04-Architecture/mcp-server-actual-implementation.md
  docs/04-Architecture/mcp-server-original-plan.md
  services/dashboard/README.md
Due: prettier --write

chore: fix code formatting with prettier
  CLAUDE.md
  docs/01-Getting-Started/installation.md
  docs/03-Operations/backup-recovery.md
  docs/03-Operations/deployment/aws-infrastructure.md
  docs/03-Operations/deployment/docker.md
  docs/03-Operations/monitoring.md
  docs/04-Architecture/ADRs/adr-001-monorepo-structure.md
  docs/04-Architecture/ADRs/adr-002-separate-docker-images.md
  docs/04-Architecture/ADRs/adr-003-conversation-tracking.md
  docs/04-Architecture/ADRs/adr-004-proxy-authentication.md
  docs/04-Architecture/ADRs/adr-005-token-usage-tracking.md
  docs/04-Architecture/ADRs/adr-006-long-running-requests.md
  docs/04-Architecture/ADRs/adr-007-subtask-tracking.md
  docs/04-Architecture/ADRs/adr-008-cicd-strategy.md
  docs/04-Architecture/ADRs/adr-009-dashboard-architecture.md
  docs/04-Architecture/ADRs/adr-010-docker-cli-integration.md
  docs/04-Architecture/ADRs/adr-012-database-schema-evolution.md
  docs/04-Architecture/ADRs/adr-013-typescript-project-references.md
  docs/04-Architecture/ADRs/adr-014-sql-query-logging.md
  docs/04-Architecture/ADRs/adr-015-subtask-conversation-migration.md
  docs/04-Architecture/ADRs/template.md
  docs/05-Troubleshooting/common-issues.md
  docs/05-Troubleshooting/performance.md
Due: prettier --write

fix(tests): resolve CI test failures in PR#80
  package.json
  scripts/test-integration.sh
  services/proxy/tests/ai-analysis-db.test.ts
  tests/integration/ai-analysis-api.test.ts
  tests/integration/proxy-auth.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: packages/**/*.{js,ts,tsx,jsx}) or (any of: services/**/*.{js,ts,tsx,jsx})
  prettier --write: ((((any of: packages/**/*.{js,ts,tsx,jsx}) or (any of: services/**/*.{js,ts,tsx,jsx})) or (any of: scripts/**/*.{js,ts,tsx,jsx})) or (any of: *.{json,md,mdx,yml,yaml})) or (any of: *.css)
