Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{js,ts,tsx,jsx}": ["prettier --write"],
  "*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

fix: Apply prettier formatting to pass CI checks
  docs/03-Operations/ai-analysis-security.md
  docs/04-Architecture/ADRs/adr-016-ai-powered-conversation-analysis.md
  docs/04-Architecture/feature-plan-ai-analysis.md
  packages/shared/src/prompts/analysis/v1/system-prompt.md
  tests/integration/ai-analysis-api.test.ts
  tests/integration/proxy-auth.test.ts
Due: prettier --write

fix: Fix flaky AI analysis integration test
  tests/integration/ai-analysis-api.test.ts
Due: none

fix: handle ZodError instanceof check failure in analyses routes
  services/proxy/src/routes/__tests__/analyses.test.ts
  services/proxy/src/routes/analyses.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors in analyses test file
  services/proxy/src/routes/__tests__/analyses.test.ts
Due: eslint --fix, prettier --write

fix: clean up PR #80 - remove redundant files and fix inconsistencies
  AI-ANALYSIS-SETUP-CORRECTED.md
  CI-UPDATES.md
  docs/02-User-Guide/api-reference.md
  docs/api/openapi-analysis.yaml
  packages/shared/src/generated/api-client/index.ts
  scripts/db/migrations/013-add-analysis-audit-log.ts
Due: eslint --fix, prettier --write

fix migration
  scripts/db/migrations/011-add-conversation-analyses.ts
  scripts/db/migrations/012-add-custom-prompt-to-analyses.ts
  scripts/db/migrations/013-add-analysis-audit-log.ts
  scripts/init-database.sql
Due: prettier --write

refactor: replace console statements with structured logger
  code-quality-report.md
  services/proxy/src/routes/spark-api.ts
  services/proxy/src/services/TestSampleCollector.ts
Due: eslint --fix, prettier --write

fix: embed prompt assets at build time to fix production deployment
  docker/dashboard/Dockerfile
  package.json
  packages/shared/src/prompts/analysis/index.ts
  packages/shared/src/prompts/analysis/prompt-assets.ts
  scripts/generate-prompt-assets.ts
  scripts/test-ai-analysis-prompts.ts
  services/dashboard/scripts/build-production.ts
Due: eslint --fix, prettier --write

fix: skip prompt generation in Docker builds
  docker/dashboard/Dockerfile
  scripts/generate-prompt-assets.ts
  services/dashboard/scripts/build-production.ts
Due: eslint --fix, prettier --write

fix: apply Prettier formatting to new files
  packages/shared/src/prompts/analysis/index.ts
  packages/shared/src/prompts/analysis/prompt-assets.ts
  scripts/generate-prompt-assets.ts
  scripts/test-ai-analysis-prompts.ts
Due: eslint --fix, prettier --write

fix: embed prompt assets at build time to fix production deployment (#85)
  docker/dashboard/Dockerfile
  package.json
  packages/shared/src/prompts/analysis/index.ts
  packages/shared/src/prompts/analysis/prompt-assets.ts
  scripts/generate-prompt-assets.ts
  scripts/test-ai-analysis-prompts.ts
  services/dashboard/scripts/build-production.ts
Due: eslint --fix, prettier --write

feat: dark theme
  services/dashboard/src/layout/index.ts
  services/dashboard/src/layout/styles.ts
Due: eslint --fix, prettier --write

tests: add tests for dark theme
  bun.lock
  e2e/dark-mode-components.test.ts
  e2e/dark-mode.test.ts
  package.json
  playwright.config.ts
  services/dashboard/src/layout/__tests__/styles.test.ts
  services/dashboard/src/layout/__tests__/theme-test-utils.ts
  services/dashboard/src/layout/__tests__/theme.test.ts
  services/dashboard/src/routes/__tests__/dark-mode.integration.test.ts
Due: eslint --fix, prettier --write

chore: fix ci
  .gitignore
  e2e/dark-mode-components.test.ts
  e2e/dark-mode.test.ts
  playwright.config.ts
  services/dashboard/src/layout/__tests__/global.d.ts
  services/dashboard/src/layout/__tests__/theme.test.ts
Due: eslint --fix, prettier --write

feat: dark theme (#86)
  .gitignore
  bun.lock
  e2e/dark-mode-components.test.ts
  e2e/dark-mode.test.ts
  package.json
  playwright.config.ts
  services/dashboard/src/layout/__tests__/global.d.ts
  services/dashboard/src/layout/__tests__/styles.test.ts
  services/dashboard/src/layout/__tests__/theme-test-utils.ts
  services/dashboard/src/layout/__tests__/theme.test.ts
  services/dashboard/src/layout/index.ts
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/__tests__/dark-mode.integration.test.ts
Due: eslint --fix, prettier --write

fix: Fix MCP server GitHub sync issues and security vulnerabilities
  .env.example
  CLAUDE.md
  docs/04-Architecture/mcp-server-actual-implementation.md
  services/proxy/src/mcp/GitHubSyncService.ts
Due: eslint --fix, prettier --write

fix: Complete MCP server implementation fixes
  services/dashboard/src/routes/mcp-proxy.ts
  services/dashboard/src/routes/prompts.ts
  services/proxy/src/app.ts
  services/proxy/src/mcp/GitHubSyncService.ts
  services/proxy/src/mcp/McpServer.ts
Due: eslint --fix, prettier --write

docs: Complete MCP server documentation and ADR updates
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-016-mcp-server-implementation.md
  docs/04-Architecture/ADRs/adr-017-mcp-prompt-sharing.md
  docs/04-Architecture/ADRs/adr-018-ai-powered-conversation-analysis.md
Due: prettier --write

fix: Use file name as MCP prompt name instead of YAML name field
  services/proxy/src/mcp/PromptRegistryService.ts
Due: eslint --fix, prettier --write

fix: Handle multiple parameter names for MCP prompt retrieval
  services/proxy/src/mcp/McpServer.ts
Due: eslint --fix, prettier --write

fix: Complete MCP server fixes and documentation
  CLAUDE.md
  services/proxy/prompts/README.md
  services/proxy/prompts/crys-feature.yaml
  services/proxy/src/mcp/GitHubSyncService.ts
  services/proxy/src/mcp/McpServer.ts
  services/proxy/src/mcp/types/protocol.ts
Due: eslint --fix, prettier --write

fix: Fix MCP server GitHub sync issues and security vulnerabilities (#87)
  .env.example
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-016-mcp-server-implementation.md
  docs/04-Architecture/ADRs/adr-017-mcp-prompt-sharing.md
  docs/04-Architecture/ADRs/adr-018-ai-powered-conversation-analysis.md
  docs/04-Architecture/mcp-server-actual-implementation.md
  services/dashboard/src/routes/mcp-proxy.ts
  services/dashboard/src/routes/prompts.ts
  services/proxy/prompts/README.md
  services/proxy/prompts/crys-feature.yaml
  services/proxy/src/app.ts
  services/proxy/src/mcp/GitHubSyncService.ts
  services/proxy/src/mcp/McpServer.ts
  services/proxy/src/mcp/PromptRegistryService.ts
  services/proxy/src/mcp/types/protocol.ts
Due: eslint --fix, prettier --write

feat: implement hourly usage dashboard for request tracking
  services/dashboard/src/layout/index.ts
  services/dashboard/src/routes/dashboard-api.ts
  services/dashboard/src/routes/request-usage.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

feat: enhance domain stats dashboard with improved features
  services/dashboard/src/layout/index.ts
  services/dashboard/src/routes/request-usage.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

feat: implement hourly usage dashboard for request tracking
  services/dashboard/src/routes/request-usage.ts
  services/proxy/prompts/crys-feature.yaml
  services/proxy/prompts/crys-file-grooming.yaml
Due: eslint --fix, prettier --write

feat: implement hourly usage dashboard for request tracking (#88)
  services/dashboard/src/layout/index.ts
  services/dashboard/src/routes/dashboard-api.ts
  services/dashboard/src/routes/request-usage.ts
  services/proxy/prompts/crys-file-grooming.yaml
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

refactor: improve credential example templates for better security and clarity
  .gitignore
  credentials/README.md
  credentials/example-api-key.com.credentials.json
  docs/04-Architecture/ADRs/adr-021-credential-example-templates.md
Due: prettier --write

refactor: improve credentials/README.md documentation clarity and completeness
  credentials/README.md
Due: prettier --write

refactor: improve GROOMING.md with comprehensive updates
  GROOMING.md
Due: prettier --write

refactor: enhance docker-up.sh with robust error handling and UX improvements
  docker-up.sh
Due: none

refactor: optimize .dockerignore for better build performance
  .dockerignore
Due: none

refactor: enhance docker build scripts with best practices
  GROOMING.md
  docker/build-images.sh
  docker/push-images.sh
Due: prettier --write

refactor: enhance docker push scripts with best practices
  docker/README.md
  docker/push-images.sh
Due: prettier --write

refactor: clean up docker-compose.yml configuration
  GROOMING.md
  docker/docker-compose.yml
Due: prettier --write

refactor: enhance Claude CLI entrypoint security and maintainability
  GROOMING.md
  docker/claude-cli/entrypoint.sh
Due: prettier --write

chore: remove unused Dockerfile.local
  GROOMING.md
  docker/claude-cli/Dockerfile.local
Due: prettier --write

refactor: simplify Claude monitor integration documentation
  GROOMING.md
  docker/claude-cli/CLAUDE_MONITOR_INTEGRATION.md
  docker/claude-cli/README.md
Due: prettier --write

refactor: enhance claude-wrapper.sh for production readiness
  docker/claude-cli/REFACTORING_NOTES.md
  docker/claude-cli/claude-wrapper.sh
Due: prettier --write

refactor: enhance monitor-wrapper.sh for production readiness
  docker/claude-cli/REFACTORING_NOTES.md
  docker/claude-cli/monitor-wrapper.sh
Due: prettier --write
