Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Delete IMPORTANT_FILES.yaml
  IMPORTANT_FILES.yaml
Due: prettier --write

fix: optimize dashboard performance with server-side pagination and aggregation
  docs/02-User-Guide/api-reference.md
  docs/04-Architecture/technical-debt.md
  services/dashboard/src/routes/overview.ts
  services/dashboard/src/services/api-client.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

fix: optimize /api/conversations query with 'limit first, aggregate second' approach
  docs/04-Architecture/technical-debt.md
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

fix: optimize dashboard performance with server-side pagination and aggregation (#116)
  docs/02-User-Guide/api-reference.md
  docs/04-Architecture/technical-debt.md
  services/dashboard/src/routes/overview.ts
  services/dashboard/src/services/api-client.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

feat: add system prompt display to dashboard conversation view
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation.test.ts
Due: eslint --fix, prettier --write

feat: add help page for Claude Code client setup
  docs/02-User-Guide/dashboard-guide.md
  docs/06-Reference/changelog.md
  services/dashboard/src/layout/index.ts
  services/dashboard/src/routes/dashboard-api.ts
  services/dashboard/src/routes/help.ts
Due: eslint --fix, prettier --write

fix: handle empty system messages and improve content extraction
  IMPORTANT_FILES.yaml
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

feat: add system prompt display to dashboard conversation view (#117)
  IMPORTANT_FILES.yaml
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/utils/conversation.test.ts
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

feat: display XML tags in dashboard conversation view
  docs/06-Reference/changelog.md
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

feat: display XML tags in dashboard conversation view (#119)
  docs/06-Reference/changelog.md
  services/dashboard/src/utils/conversation.ts
Due: eslint --fix, prettier --write

style: fix IMPORTANT_FILES.yaml formatting
  IMPORTANT_FILES.yaml
Due: prettier --write

chore: rename repository from claude-nexus-proxy to claude-nexus
  CLAUDE.md
  CONTRIBUTING.md
  IMPORTANT_FILES.yaml
  README.md
  docker/README.md
  docker/build-images.sh
  docker/docker-compose.yml
  docker/push-images.sh
  docs/00-Overview/architecture.md
  docs/00-Overview/quickstart.md
  docs/01-Getting-Started/development.md
  docs/01-Getting-Started/installation.md
  docs/03-Operations/deployment/aws-infrastructure.md
  docs/03-Operations/deployment/docker-compose.md
  docs/03-Operations/deployment/docker.md
  docs/04-Architecture/ADRs/adr-001-monorepo-structure.md
  docs/04-Architecture/ADRs/adr-002-separate-docker-images.md
  docs/04-Architecture/ADRs/adr-003-conversation-tracking.md
  docs/04-Architecture/ADRs/adr-004-proxy-authentication.md
  docs/04-Architecture/ADRs/adr-005-token-usage-tracking.md
  docs/04-Architecture/ADRs/adr-006-long-running-requests.md
  docs/04-Architecture/ADRs/adr-007-subtask-tracking.md
  docs/04-Architecture/ADRs/adr-008-cicd-strategy.md
  docs/04-Architecture/ADRs/adr-009-dashboard-architecture.md
  docs/04-Architecture/ADRs/adr-010-docker-cli-integration.md
  docs/04-Architecture/ADRs/adr-014-sql-query-logging.md
  docs/04-Architecture/ADRs/adr-017-mcp-prompt-sharing.md
  docs/04-Architecture/ADRs/adr-018-ai-powered-conversation-analysis.md
  docs/04-Architecture/internals.md
  docs/04-Architecture/technical-debt.md
  docs/06-Reference/environment-vars.md
  docs/README.md
  package.json
  scripts/ops/README.md
  scripts/ops/manage-nexus-proxies.sh
  scripts/ops/update-proxy.sh
  services/proxy/package.json
  services/proxy/src/app.ts
  services/proxy/src/main.ts
  services/proxy/src/routes/health.ts
Due: eslint --fix, prettier --write

fix: rename proxy Docker image to claude-nexus-proxy
  docker/README.md
  docker/build-images.sh
  docker/push-images.sh
  docs/03-Operations/deployment/docker-compose.md
  scripts/ops/update-proxy.sh
Due: prettier --write

fix: bug when running dashboard with empty data
  packages/shared/src/utils/formatters.ts
Due: eslint --fix, prettier --write

fix: minor fix on startup scripts and envs
  .env.example
  scripts/dev/dev-dashboard.sh
  scripts/dev/dev-proxy.sh
Due: none

Add compose file for local dev
  docker/docker-compose.dev.yml
Due: prettier --write

Minor fix on env content
  docker/docker-compose.yml
Due: prettier --write

Add useful bun cmds
  package.json
Due: prettier --write

fix: update docker-compose local image name to claude-nexus-proxy
  docker/docker-compose.yml
Due: prettier --write

Remove pgadmin from services
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Due: prettier --write

Update README with new quick start instructions
  README.md
Due: prettier --write

fix readme links
  README.md
Due: prettier --write

feat: passthrough as default auth mode
  packages/shared/src/config/index.ts
  services/proxy/src/services/ProxyService.ts
Due: eslint --fix, prettier --write

feat: all-in dockerfile
  .dockerignore
  docker/all-in/all-in-entrypoint.sh
  docker/all-in/claude-nexus-all-in.Dockerfile
  docker/build-images.sh
  docker/push-images.sh
Due: none

chore(all-in): rely on Postgres init scripts; remove manual DB and schema apply
  docker/all-in/all-in-entrypoint.sh
Due: none

Disable slack bot by default
  .env.example
Due: none

fix: display bug when having an empty database (#122)
  .env.example
  docker/docker-compose.yml
  packages/shared/src/utils/formatters.ts
  scripts/dev/dev-dashboard.sh
  scripts/dev/dev-proxy.sh
Due: eslint --fix, prettier --write

feat: all-in-one dockerfile (#123)
  .dockerignore
  docker/all-in/all-in-entrypoint.sh
  docker/all-in/claude-nexus-all-in.Dockerfile
  docker/build-images.sh
  docker/push-images.sh
Due: none

feat: passthrough as default auth mode (#124)
  packages/shared/src/config/index.ts
  services/proxy/src/services/ProxyService.ts
Due: eslint --fix, prettier --write

update README with new quickstart
  README.md
Due: prettier --write

Remove pgadmin from services
  docker/docker-compose.yml
Due: prettier --write

Add docker compose for local dev
  docker/docker-compose.dev.yml
Due: prettier --write

Disable slack bot integration by default
  docker/docker-compose.yml
  services/proxy/src/main.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {packages,services}/**/*.{js,ts,tsx,jsx}
  prettier --write: (((any of: {packages,services}/**/*.{js,ts,tsx,jsx}) or (any of: scripts/**/*.{js,ts})) or (any of: **/*.{json,md,mdx,yml,yaml})) or (any of: **/*.css)
