Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{js,ts,tsx,jsx}": ["prettier --write"],
  "*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

refactor: enhance Claude CLI Docker README for production readiness
  docker/claude-cli/README.md
  docker/claude-cli/REFACTORING_NOTES.md
Due: prettier --write

chore: remove orphaned docker/.env.test file
  GROOMING.md
  docker/.env.test
Due: prettier --write

refactor: transform docker/README.md into focused quick reference
  docker/README.md
  docs/04-Architecture/ADRs/adr-022-documentation-strategy.md
Due: prettier --write

refactor: transform test-sample-collection.sh into production-ready script
  GROOMING.md
  scripts/dev/test/test-sample-collection.sh
  test-sample-collection.sh
Due: prettier --write

refactor: remove empty .claude directory for cleaner repository structure
  GROOMING.md
Due: prettier --write

chore: remove orphaned test scripts from root directory
  GROOMING.md
  test-api.sh
  test-integration.sh
Due: prettier --write

chore: remove obsolete create-pr.sh script from repository root
  create-pr.sh
Due: none

chore: remove orphaned .wrangler directory and update .gitignore
  .gitignore
Due: none

docs: add lockfile guidance to GROOMING.md
  GROOMING.md
Due: prettier --write

chore(prompts): remove obsolete greeting.yaml demo file
  prompts/greeting.yaml
Due: prettier --write

docs(prompts): fix MCP prompts documentation to match implementation
  GROOMING.md
  prompts/README.md
Due: prettier --write

chore(prompts): remove obsolete grooming.md file from prompts directory
  GROOMING.md
  prompts/grooming.md
Due: prettier --write

refactor(prompts): enhance code-review.yaml with structured output and severity levels
  GROOMING.md
  prompts/README.md
  prompts/code-review.yaml
Due: prettier --write

docs(prompts): enhance README with comprehensive MCP documentation
  prompts/README.md
Due: prettier --write

chore(tests): remove misleading credentials unit test
  GROOMING.md
  services/proxy/prompts/crys-file-grooming.yaml
  tests/unit/credentials.test.ts
Due: prettier --write

chore(tests): remove misleading integration test anti-pattern
  GROOMING.md
  tests/integration/proxy-auth.test.ts
Due: prettier --write

refactor(tests): improve AI analysis API integration test quality
  tests/integration/ai-analysis-api.test.ts
Due: none

chore(tests): remove misleading tests/README.md
  tests/README.md
Due: prettier --write

refactor(tests): improve Claude CLI e2e test quality and maintainability
  e2e/claude-cli.test.ts
  package.json
  tests/e2e/claude-cli.test.ts
Due: prettier --write

refactor(CLAUDE.md): improve documentation structure and fix formatting issues
  CLAUDE.md
Due: prettier --write

refactor(.gitignore): streamline for Bun-based project
  .gitignore
  docs/04-Architecture/ADRs/adr-025-gitignore-refactoring.md
Due: prettier --write

refactor(.prettierrc.json): remove redundant JSON override settings
  .prettierrc.json
  GROOMING.md
Due: prettier --write

refactor(tsconfig): separate base configuration from root orchestrator
  docs/04-Architecture/ADRs/adr-026-tsconfig-base-separation.md
  packages/shared/tsconfig.json
  services/dashboard/tsconfig.json
  services/proxy/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

refactor: remove redundant start-dev.sh script
  docs/04-Architecture/ADRs/adr-019-remove-redundant-start-dev-script.md
  start-dev.sh
Due: prettier --write

refactor(model-limits): improve documentation and clarity
  packages/shared/src/constants/model-limits.ts
Due: eslint --fix, prettier --write

refactor(model-limits): improve test organization and reduce repetition
  GROOMING.md
  packages/shared/src/constants/__tests__/model-limits.test.ts
Due: eslint --fix, prettier --write

refactor(truncation): improve code organization and performance
  packages/shared/src/prompts/truncation.ts
Due: eslint --fix, prettier --write

refactor(imports): fix GeminiService import to use barrel exports
  services/proxy/src/workers/ai-analysis/GeminiService.ts
Due: eslint --fix, prettier --write

refactor(truncation): improve test organization and performance
  GROOMING_LOG.md
  packages/shared/src/prompts/__tests__/truncation.test.ts
Due: eslint --fix, prettier --write

refactor(tests): improve analysis test performance and fix compatibility
  packages/shared/src/prompts/__tests__/analysis.test.ts
Due: eslint --fix, prettier --write

refactor(prompts): improve type safety and documentation for prompt-assets.ts
  packages/shared/src/prompts/analysis/prompt-assets.ts
  scripts/generate-prompt-assets.ts
Due: eslint --fix, prettier --write

refactor(prompts): improve system-prompt.md clarity and structure
  packages/shared/src/prompts/__tests__/analysis.test.ts
  packages/shared/src/prompts/analysis/prompt-assets.ts
  packages/shared/src/prompts/analysis/v1/system-prompt.md
Due: eslint --fix, prettier --write

refactor(prompts): improve AI analysis examples quality and consistency
  packages/shared/src/prompts/analysis/prompt-assets.ts
  packages/shared/src/prompts/analysis/v1/README.md
  packages/shared/src/prompts/analysis/v1/examples.json
Due: eslint --fix, prettier --write

refactor(prompts): improve AI analysis prompt generation code quality
  packages/shared/src/index.ts
  packages/shared/src/prompts/analysis/REFACTORING-NOTES.md
  packages/shared/src/prompts/analysis/index.ts
  packages/shared/src/prompts/analysis/prompt-assets.ts
  packages/shared/src/prompts/analysis/v1/examples.json
  packages/shared/src/prompts/index.ts
Due: eslint --fix, prettier --write

refactor(config): improve shared configuration module for better maintainability
  docs/04-Architecture/grooming/2025-01-19-config-refactoring.md
  packages/shared/src/config/ai-analysis.ts
  packages/shared/src/config/index.ts
  packages/shared/src/index.ts
  packages/shared/src/prompts/analysis/index.ts
  packages/shared/src/prompts/truncation.ts
Due: eslint --fix, prettier --write

refactor(config): improve AI analysis configuration documentation and deprecation warnings
  docs/04-Architecture/grooming/2025-01-19-ai-config-grooming.md
  packages/shared/src/config/index.ts
  packages/shared/src/prompts/__tests__/truncation.test.ts
Due: eslint --fix, prettier --write

refactor(errors): improve error utilities with JSDoc and named constants
  docs/04-Architecture/grooming/2025-01-19-errors-utils-grooming.md
  packages/shared/src/index.ts
  packages/shared/src/utils/errors.ts
Due: eslint --fix, prettier --write

refactor(validation): improve validation utilities for better maintainability
  packages/shared/src/utils/README-validation.md
  packages/shared/src/utils/validation.ts
Due: eslint --fix, prettier --write

refactor(tests): move system-reminder test to __tests__ directory
  packages/shared/src/utils/__tests__/system-reminder.test.ts
Due: eslint --fix, prettier --write

refactor(utils): improve conversation-hash.ts for better maintainability
  docs/04-Architecture/ADRs/adr-023-conversation-hash-refactoring.md
  packages/shared/src/utils/conversation-hash.ts
Due: eslint --fix, prettier --write
