Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: resolve CSRF token error on login page (#104)
  services/dashboard/src/app.ts
  services/dashboard/src/middleware/csrf.ts
  services/dashboard/src/routes/auth.ts
Due: eslint --fix, prettier --write

docs: add nexus logo to README title
  README.md
Due: prettier --write

feat: add nexus logo to dashboard header (#106)
  README.md
  services/dashboard/src/components/logo.ts
  services/dashboard/src/layout/index.ts
Due: eslint --fix, prettier --write

feat: add mouse wheel zoom to conversation tree view (#105)
  services/dashboard/src/routes/conversation-detail.ts
Due: eslint --fix, prettier --write

Update image to README.md
  README.md
Due: prettier --write

test(e2e): add page rendering + console error checks for dashboard routes; fix Playwright webServer config
  e2e/pages-render.test.ts
  playwright.config.ts
Due: none

docs: add Playwright E2E testing instructions, requirements, and commands
  README.md
  docs/01-Getting-Started/development.md
  services/dashboard/README.md
Due: prettier --write

test(e2e): add Playwright smoke tests for all dashboard pages and dynamic details; assert no console/page errors; use /health for readiness
  README.md
  e2e/pages-render.test.ts
  playwright.config.ts
Due: prettier --write

feat(e2e): add dashboard route coverage with console-error guard
  e2e/dashboard-pages.test.ts
Due: none

chore(test): fix Playwright config and make DB-dependent routes conditional
  e2e/dashboard-pages.test.ts
  playwright.config.ts
Due: none

test(playwright): run dashboard without watch and relax /dashboard assertion
  e2e/dashboard-pages.test.ts
  playwright.config.ts
Due: none

feat: implement comprehensive e2e testing for dashboard
  .env.test
  .github/workflows/ci.yml
  .github/workflows/e2e-nightly.yml
  CLAUDE.md
  e2e/fixtures/test-data.ts
  e2e/journeys/critical-journeys.spec.ts
  e2e/smoke-tests/all-pages.spec.ts
  e2e/utils/auth-helper.ts
  e2e/utils/console-monitor.ts
  package.json
  playwright.config.ts
Due: prettier --write

fix: format e2e test files with prettier
  e2e/fixtures/test-data.ts
  e2e/journeys/critical-journeys.spec.ts
  e2e/smoke-tests/all-pages.spec.ts
  e2e/utils/auth-helper.ts
  e2e/utils/console-monitor.ts
  playwright.config.ts
Due: none

docs: add ADR-021 for e2e testing strategy and update related documentation
  docs/04-Architecture/ADRs/adr-011-future-decisions.md
  docs/04-Architecture/ADRs/adr-021-e2e-testing-strategy.md
  docs/04-Architecture/technical-debt.md
Due: prettier --write

fix: resolve e2e test failures in CI environment
  .github/workflows/ci.yml
  playwright.config.ts
  services/dashboard/package.json
Due: prettier --write

fix: add read-only protection middleware for dashboard security
  services/dashboard/src/app.ts
  services/dashboard/src/middleware/read-only-protection.ts
Due: eslint --fix, prettier --write

fix: move middleware application order to ensure auth context before API routes
  services/dashboard/src/app.ts
  services/dashboard/src/config.ts
  services/dashboard/src/middleware/auth.ts
  services/dashboard/src/middleware/rate-limit.ts
  services/dashboard/src/middleware/read-only-protection.ts
Due: eslint --fix, prettier --write

fix: call isReadOnly as function to fix TypeScript errors
  services/dashboard/src/routes/auth.ts
  services/dashboard/src/services/api-client.ts
Due: eslint --fix, prettier --write

fix: add hint field to read-only protection error response
  services/dashboard/src/middleware/read-only-protection.ts
Due: eslint --fix, prettier --write

fix: use ES module compatible __dirname in e2e tests
  e2e/utils/auth-helper.ts
Due: none

fix: update E2E tests to work in CI with header-based authentication
  bun.lock
  e2e/smoke-tests/all-pages.spec.ts
  e2e/utils/auth-helper.ts
  package.json
Due: prettier --write

chore: fix prettier formatting in auth-helper.ts
  e2e/utils/auth-helper.ts
Due: none

fix: simplify E2E smoke tests for better CI reliability
  e2e/smoke-tests/all-pages.spec.ts
Due: none

chore: fix prettier formatting
  e2e/smoke-tests/all-pages.spec.ts
Due: none

fix: make E2E tests more resilient for CI
  e2e/fixtures/test-data.ts
  e2e/smoke-tests/all-pages.spec.ts
Due: none

fix: handle undefined message in console error filtering
  e2e/smoke-tests/all-pages.spec.ts
Due: none

fix: use correct property name 'text' instead of 'message' for console errors
  e2e/smoke-tests/all-pages.spec.ts
Due: none

fix: handle 404 errors properly in 404 page test
  e2e/smoke-tests/all-pages.spec.ts
Due: none

Update image to README.md (#111)
  README.md
Due: prettier --write

feat: implement comprehensive e2e testing for dashboard (#110)
  .env.test
  .github/workflows/ci.yml
  .github/workflows/e2e-nightly.yml
  CLAUDE.md
  bun.lock
  e2e/fixtures/test-data.ts
  e2e/journeys/critical-journeys.spec.ts
  e2e/smoke-tests/all-pages.spec.ts
  e2e/utils/auth-helper.ts
  e2e/utils/console-monitor.ts
  package.json
  playwright.config.ts
  services/dashboard/package.json
  services/dashboard/src/app.ts
  services/dashboard/src/config.ts
  services/dashboard/src/middleware/auth.ts
  services/dashboard/src/middleware/rate-limit.ts
  services/dashboard/src/middleware/read-only-protection.ts
  services/dashboard/src/routes/auth.ts
  services/dashboard/src/services/api-client.ts
Due: eslint --fix, prettier --write

Adds important files yaml to gitignore
  .gitignore
Due: none

refactor: streamline CLAUDE.md to 3 sections with essential information only
  CLAUDE.md
Due: prettier --write

fix: address code review findings in CLAUDE.md
  CLAUDE.md
Due: prettier --write

feat: add 20-rule consistency style guide to CLAUDE.md
  CLAUDE.md
Due: prettier --write

refactor: streamline CLAUDE.md to essential information only (#112)
  CLAUDE.md
Due: prettier --write

Refactor documentation
  docs/04-Architecture/ADRs/README.md
  docs/04-Architecture/ADRs/adr-011-future-decisions.md
  docs/04-Architecture/ADRs/adr-014-subtask-query-executor-pattern.md
  docs/04-Architecture/ADRs/adr-015-subtask-conversation-migration.md
  docs/04-Architecture/ADRs/adr-016-mcp-server-implementation.md
  docs/04-Architecture/ADRs/adr-017-mcp-prompt-sharing.md
  docs/04-Architecture/ADRs/adr-018-ai-powered-conversation-analysis.md
  docs/04-Architecture/ADRs/adr-019-dashboard-read-only-mode-security.md
  docs/04-Architecture/ADRs/adr-020-circuit-breaker-removal.md
  docs/04-Architecture/ADRs/adr-021-e2e-testing-strategy.md
  docs/04-Architecture/feature-plan-ai-analysis.md
  docs/04-Architecture/internals.md
  docs/04-Architecture/mcp-server-actual-implementation.md
  docs/04-Architecture/mcp-server-original-plan.md
  docs/04-Architecture/message-count-implementation.md
Due: prettier --write

add consolidated doc
  docs/04-Architecture/ADRs/adr-015-subtask-query-executor-pattern.md
  docs/04-Architecture/ADRs/adr-016-subtask-conversation-migration.md
  docs/04-Architecture/ADRs/adr-018-mcp-prompt-sharing.md
  docs/04-Architecture/ADRs/adr-019-ai-powered-conversation-analysis.md
  docs/04-Architecture/ADRs/adr-020-dashboard-read-only-mode-security.md
  docs/04-Architecture/ADRs/adr-021-circuit-breaker-removal.md
  docs/04-Architecture/ADRs/adr-022-e2e-testing-strategy.md
Due: prettier --write

docs: streamline core documentation to essential commands only
  CLAUDE.md
  docs/00-Overview/quickstart.md
  docs/01-Getting-Started/development.md
Due: prettier --write

docs: complete documentation streamlining and cleanup
  CLAUDE.md
  docs/00-Overview/quickstart.md
  docs/04-Architecture/ADRs/README.md
  docs/04-Architecture/internals.md
  docs/archive/README.md
  docs/archive/feature-plan-ai-analysis.md
  docs/archive/mcp-server-original-plan.md
Due: prettier --write

docs: complete documentation streamlining and cleanup
  CLAUDE.md
  IMPORTANT_FILES.yaml
  README.md
  docs/00-Overview/quickstart.md
  docs/01-Getting-Started/configuration.md
  docs/01-Getting-Started/development.md
  docs/01-Getting-Started/installation.md
  docs/01-Getting-Started/setup.md
  docs/02-User-Guide/api-reference.md
  docs/02-User-Guide/authentication.md
  docs/03-Operations/deployment/docker-compose.md
  docs/03-Operations/security.md
  docs/04-Architecture/ADRs/adr-018-ai-powered-conversation-analysis.md
  docs/04-Architecture/ADRs/adr-022-subtask-query-executor-pattern.md
  docs/05-Troubleshooting/common-issues.md
  docs/05-Troubleshooting/debugging.md
  docs/06-Reference/environment-vars.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: {packages,services}/**/*.{js,ts,tsx,jsx}
  prettier --write: (((any of: {packages,services}/**/*.{js,ts,tsx,jsx}) or (any of: scripts/**/*.{js,ts})) or (any of: **/*.{json,md,mdx,yml,yaml})) or (any of: **/*.css)
