Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "{packages,services}/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{js,ts}": ["prettier --write"],
  "**/*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "**/*.css": ["prettier --write"]
}

refactor(test): replace large JSON fixture with programmatic test builder
  GROOMING.md
  services/proxy/tests/fixtures/requests/inference_streaming_with_tools_with_system_opus.json
  services/proxy/tests/request-type-identification.test.ts
  test/README.md
Due: eslint --fix, prettier --write

refactor(test): clean up test-samples directory and create curated fixtures
  CLAUDE.md
  GROOMING.md
  services/proxy/tests/fixtures/inference/non_streaming_with_tools.json
  services/proxy/tests/fixtures/inference/streaming_with_tools_success.json
  services/proxy/tests/fixtures/requests/query_evaluation_sonnet.json
Due: prettier --write

chore(test): remove unused test-factories.ts and clean up test structure
  GROOMING.md
  test/README.md
  test/helpers/test-factories.ts
Due: prettier --write

chore(test): remove outdated test README and clean up test structure
  docs/grooming/test-readme-cleanup.md
  test/README.md
Due: prettier --write

chore(docs): remove redundant AI-ANALYSIS-SETUP.md file
  AI-ANALYSIS-SETUP.md
  docs/04-Architecture/ADRs/adr-032-documentation-consolidation.md
Due: prettier --write

refactor(docs): transform QUICKSTART.md into actionable quick start guide
  QUICKSTART.md
  docs/04-Architecture/ADRs/adr-059-quickstart-content-restoration.md
  docs/04-Architecture/grooming-logs/2025-01-21-quickstart-content-restoration.md
Due: prettier --write

chore(grooming): remove temporary test-db-pool.js debugging script
  GROOMING-LOG.md
  test-db-pool.js
Due: prettier --write

chore(grooming): refactor CONTRIBUTING.md for production readiness
  CONTRIBUTING.md
  SECURITY.md
  docs/04-Architecture/ADRs/adr-060-contributing-guide-refactoring.md
Due: prettier --write

chore(grooming): remove redundant examples/credentials directory
  examples/credentials/api-key.json
  examples/credentials/oauth.json
Due: prettier --write

chore(grooming): document non-existent examples/credentials directory
  docs/04-Architecture/ADRs/adr-061-examples-credentials-directory-removal.md
Due: prettier --write

chore(grooming): refactor eslint.config.js for Bun runtime and modern standards
  docs/04-Architecture/ADRs/adr-020-eslint-configuration-grooming.md
  eslint.config.js
Due: prettier --write

chore(grooming): remove .vscode directory for cleaner, editor-agnostic repository
  .vscode/settings.json
  GROOMING.md
Due: prettier --write

chore(grooming): add .editorconfig for editor-agnostic code style consistency
  .editorconfig
  GROOMING.md
Due: prettier --write

fix(ci): update bun.lock to fix frozen lockfile error
  bun.lock
Due: none

refactor: consolidate Claude types into shared package
  cleanup-plan-agent-1.md
  cleanup-plan-agent-2.md
  packages/shared/src/types/claude.ts
  services/proxy/src/controllers/MessageController.ts
  services/proxy/src/domain/entities/ProxyRequest.ts
  services/proxy/src/domain/entities/ProxyResponse.ts
  services/proxy/src/middleware/validation.ts
  services/proxy/src/services/ClaudeApiClient.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/services/TestSampleCollector.ts
  services/proxy/src/types/claude.ts
Due: eslint --fix, prettier --write

refactor: consolidate error types into shared package
  packages/shared/src/types/errors.ts
  services/proxy/src/controllers/MessageController.ts
  services/proxy/src/middleware/rate-limit.ts
  services/proxy/src/middleware/validation.ts
  services/proxy/src/services/AuthenticationService.ts
  services/proxy/src/services/ClaudeApiClient.ts
  services/proxy/src/types/errors.ts
  services/proxy/src/utils/circuit-breaker.ts
  services/proxy/src/utils/retry.ts
Due: eslint --fix, prettier --write

refactor: remove duplicate context types
  services/proxy/src/types/context.ts
Due: eslint --fix, prettier --write

refactor: move retry utility to shared package
  packages/shared/src/index.ts
  packages/shared/src/utils/retry.ts
  services/proxy/src/utils/retry.ts
Due: eslint --fix, prettier --write

refactor: move circuit breaker utility to shared package
  packages/shared/src/index.ts
  packages/shared/src/utils/circuit-breaker.ts
  services/proxy/src/utils/circuit-breaker.ts
Due: eslint --fix, prettier --write

refactor: move formatting utilities to shared package
  packages/shared/src/index.ts
  packages/shared/src/utils/formatters.ts
  services/dashboard/src/utils/formatters.ts
Due: eslint --fix, prettier --write

fix: update shared circuit breaker to accept partial config
  packages/shared/src/utils/circuit-breaker.ts
  services/proxy/src/utils/circuit-breaker.ts
Due: eslint --fix, prettier --write

fix: update shared circuit breaker import path and remove cleanup plan files
  cleanup-plan-agent-1.md
  cleanup-plan-agent-2.md
  services/proxy/src/utils/circuit-breaker.ts
Due: eslint --fix, prettier --write

fix: update all shared package imports to use main entry point
  services/dashboard/src/routes/analysis-api.ts
  services/dashboard/src/utils/formatters.ts
  services/proxy/src/middleware/sanitization.ts
  services/proxy/src/middleware/validation.ts
  services/proxy/src/routes/analyses.ts
  services/proxy/src/utils/retry.ts
  services/proxy/src/workers/ai-analysis/AnalysisWorker.ts
Due: eslint --fix, prettier --write

fix: use type exports for interfaces to resolve test module resolution issues
  packages/shared/src/index.ts
  services/proxy/src/utils/circuit-breaker.ts
  services/proxy/src/utils/retry.ts
Due: eslint --fix, prettier --write

chore: clean up root folder - remove test files and logs, move scripts to appropriate directories
  .gitignore
  scripts/dev/create-pr.sh
  scripts/dev/start-dev.sh
  test-api.sh
  test-arrow-size.html
  test-collapse-fix.html
  test-db-pool.js
  test-error-propagation.mjs
  test-inspect-arrows.html
  test-integration.sh
  test-sample-collection.sh
Due: none

Repository cleanup: consolidate types and organize scripts (#90)
  .gitignore
  packages/shared/src/index.ts
  packages/shared/src/types/claude.ts
  packages/shared/src/types/errors.ts
  packages/shared/src/utils/circuit-breaker.ts
  packages/shared/src/utils/formatters.ts
  packages/shared/src/utils/retry.ts
  scripts/dev/create-pr.sh
  scripts/dev/start-dev.sh
  services/dashboard/src/routes/analysis-api.ts
  services/dashboard/src/utils/formatters.ts
  services/proxy/src/controllers/MessageController.ts
  services/proxy/src/domain/entities/ProxyRequest.ts
  services/proxy/src/domain/entities/ProxyResponse.ts
  services/proxy/src/middleware/rate-limit.ts
  services/proxy/src/middleware/sanitization.ts
  services/proxy/src/middleware/validation.ts
  services/proxy/src/routes/analyses.ts
  services/proxy/src/services/AuthenticationService.ts
  services/proxy/src/services/ClaudeApiClient.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/services/TestSampleCollector.ts
  services/proxy/src/types/claude.ts
  services/proxy/src/types/context.ts
  services/proxy/src/types/errors.ts
  services/proxy/src/utils/circuit-breaker.ts
  services/proxy/src/utils/retry.ts
  services/proxy/src/workers/ai-analysis/AnalysisWorker.ts
  test-api.sh
  test-arrow-size.html
  test-collapse-fix.html
  test-db-pool.js
  test-error-propagation.mjs
  test-inspect-arrows.html
  test-integration.sh
  test-sample-collection.sh
Due: eslint --fix, prettier --write

feat: add read-only mode support for dashboard without API key
  services/dashboard/src/app.ts
  services/dashboard/src/components/spark-recommendation-inline.ts
  services/dashboard/src/config.ts
  services/dashboard/src/layout/index.ts
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/middleware/auth.ts
  services/dashboard/src/middleware/rate-limit.ts
  services/dashboard/src/routes/auth.ts
  services/dashboard/src/routes/partials/analysis.ts
  services/dashboard/src/services/api-client.ts
Due: eslint --fix, prettier --write

fix: apply security improvements from code review
  services/dashboard/src/components/spark-recommendation-inline.ts
  services/dashboard/src/middleware/auth.ts
  services/dashboard/src/middleware/csrf.ts
  services/dashboard/src/middleware/rate-limit.ts
  services/dashboard/src/routes/auth.ts
  services/dashboard/src/routes/partials/analysis.ts
Due: eslint --fix, prettier --write

fix: remove DASHBOARD_API_KEY requirement for read-only mode
  services/dashboard/src/main.ts
Due: eslint --fix, prettier --write

feat: add read-only mode support for dashboard without API key (#91)
  services/dashboard/src/app.ts
  services/dashboard/src/components/spark-recommendation-inline.ts
  services/dashboard/src/config.ts
  services/dashboard/src/layout/index.ts
  services/dashboard/src/layout/styles.ts
  services/dashboard/src/main.ts
  services/dashboard/src/middleware/auth.ts
  services/dashboard/src/middleware/csrf.ts
  services/dashboard/src/middleware/rate-limit.ts
  services/dashboard/src/routes/auth.ts
  services/dashboard/src/routes/partials/analysis.ts
  services/dashboard/src/services/api-client.ts
Due: eslint --fix, prettier --write

test: fix dashboard read-only security test failures
  .env.example
  CLAUDE.md
  README.md
  docs/00-Overview/quickstart.md
  docs/03-Operations/deployment/docker.md
  docs/03-Operations/security.md
  docs/04-Architecture/ADRs/README.md
  docs/04-Architecture/ADRs/adr-019-dashboard-read-only-mode-security.md
  package.json
  scripts/run-all-tests.sh
  services/dashboard/src/__tests__/read-only-mode-security.test.ts
  services/dashboard/src/app.ts
  services/dashboard/src/routes/__tests__/read-only-security.test.ts
  services/dashboard/src/storage/reader.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors in dashboard security tests
  services/dashboard/src/__tests__/read-only-mode-security.test.ts
  services/dashboard/src/routes/__tests__/read-only-security.test.ts
Due: eslint --fix, prettier --write

feat: add read-only mode support for dashboard without API key (#92)
  .env.example
  CLAUDE.md
  README.md
  docs/00-Overview/quickstart.md
  docs/03-Operations/deployment/docker.md
  docs/03-Operations/security.md
  docs/04-Architecture/ADRs/README.md
  docs/04-Architecture/ADRs/adr-019-dashboard-read-only-mode-security.md
  package.json
  scripts/run-all-tests.sh
  services/dashboard/src/__tests__/read-only-mode-security.test.ts
  services/dashboard/src/app.ts
  services/dashboard/src/routes/__tests__/read-only-security.test.ts
  services/dashboard/src/storage/reader.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

fix: Fix querySelector errors by using raw() for all HTMX attributes
  services/dashboard/src/routes/partials/analysis.ts
Due: eslint --fix, prettier --write

fix: Fix querySelector errors by using raw() for all HTMX attributes (#93)
  services/dashboard/src/routes/partials/analysis.ts
Due: eslint --fix, prettier --write

Delete .dev.vars.example
  .dev.vars.example
Due: none

docs: relocate standalone documentation files
  QUICKSTART.md
  docs/01-Getting-Started/repository-grooming.md
  docs/02-User-Guide/ai-analysis.md
Due: prettier --write

docs(dev): merge CI and prettier guide into development.md
  .github/PRETTIER_CI_SETUP.md
  docs/01-Getting-Started/development.md
Due: prettier --write

docs(cli): merge usage monitor info into claude-cli.md
  docker/claude-cli/CLAUDE_MONITOR_INTEGRATION.md
  docs/02-User-Guide/claude-cli.md
Due: prettier --write

docs: update index and fix broken relative links
  docs/01-Getting-Started/repository-grooming.md
  docs/README.md
Due: prettier --write
