Repository Moonsong-Labs/claude-nexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "services/**/*.{js,ts,tsx,jsx}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{js,ts,tsx,jsx}": ["prettier --write"],
  "*.{json,md,mdx,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

feat: add user icon to tree view nodes with user messages
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/utils/conversation-graph.ts
  services/dashboard/src/utils/simple-graph-layout.ts
Due: eslint --fix, prettier --write

fix: show user icon for all requests with user messages
  services/dashboard/src/routes/conversation-detail.ts
Due: eslint --fix, prettier --write

fix: simplify user icon detection logic
  services/dashboard/src/routes/conversation-detail.ts
Due: eslint --fix, prettier --write

Fix time to reply calculation double-counting user responses
  debug-full-conversation.ts
  debug-messages.ts
  debug-reply-intervals.ts
  debug-time-calculation-detailed.ts
  debug-time-calculation.ts
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

Clean up debug files
  debug-full-conversation.ts
  debug-messages.ts
  debug-reply-intervals.ts
  debug-time-calculation-detailed.ts
  debug-time-calculation.ts
Due: none

feat: implement TaskInvocationCache and move subtask detection to ConversationLinker
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-007-subtask-tracking.md
  packages/shared/src/index.ts
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/01-subtask-matched.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/02-subtask-no-match.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/03-subtask-expired.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/04-second-subtask.json
  packages/shared/src/utils/__tests__/subtask-detection.test.ts
  packages/shared/src/utils/__tests__/subtask-linker.test.ts
  packages/shared/src/utils/conversation-linker.ts
  scripts/db/rebuild-conversations.ts
  services/proxy/src/services/MetricsService.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/TaskInvocationCache.ts
  services/proxy/src/storage/__tests__/TaskInvocationCache.test.ts
  services/proxy/src/storage/writer.ts
Due: eslint --fix, prettier --write

Fix time to reply calculation to use consecutive pairs only
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

Fix tool execution count to use tool_results from last_message
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

Split metrics into Conversation and Branch detail panels
  services/dashboard/src/routes/conversation-detail.ts
Due: eslint --fix, prettier --write

Make branch details show cumulative stats including parent branches
  services/dashboard/src/routes/conversation-detail.ts
Due: eslint --fix, prettier --write

remove redundant branch user interactions metric
  services/dashboard/src/routes/conversation-detail.ts
Due: eslint --fix, prettier --write

feat: implement column-sharing for non-overlapping branches in tree view
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

fix: optimize branch column assignment by processing branches bottom-up
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

feat: replace TaskInvocationCache with SQL-based Task detection
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-007-subtask-tracking.md
  docs/04-Architecture/ADRs/adr-015-subtask-conversation-migration.md
  scripts/db/migrations/008-subtask-updates-and-task-indexes.ts
  scripts/db/rebuild-conversations.ts
  scripts/init-database.sql
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/TaskInvocationCache.ts
  services/proxy/src/storage/__tests__/TaskInvocationCache.test.ts
Due: eslint --fix, prettier --write

feat: add branch ID to request details page and clean up debug logging
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/services/api-client.ts
  services/dashboard/src/utils/conversation-graph.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

feat: add visual separator between response and messages in request details
  services/dashboard/src/routes/request-details.ts
Due: eslint --fix, prettier --write

Adds tests
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/06-subtask-check.json
Due: eslint --fix, prettier --write

feat: implement SubtaskQueryExecutor pattern for Task detection
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-014-subtask-query-executor-pattern.md
  packages/shared/src/index.ts
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/05-subtask-follow.json
  packages/shared/src/utils/conversation-linker.ts
  scripts/db/migrations/009-add-response-body-gin-index.ts
  scripts/db/rebuild-conversations.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/storage/StorageAdapter.ts
Due: eslint --fix, prettier --write

fix: restore help and improve argument parsing in rebuild-conversations script
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: ensure rebuild-conversations script exits after completion
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: generate conversation IDs for new conversations in rebuild script
  scripts/db/rebuild-conversations.ts
Due: prettier --write

optimize
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: preserve existing conversation IDs when linker returns null
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: process rebuild script updates sequentially to respect dependencies
  scripts/db/rebuild-conversations.ts
Due: prettier --write

feat: add special icons for subtask and compact branch nodes
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

refactor: simplify branch icon logic using message_count
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

feat: add bidirectional arrows to subtask branch icon
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

feat: move subtask arrows to edge connection
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

fix: add conversationId filter to findParentRequests to prevent cross-conversation branching
  services/proxy/src/storage/writer.ts
Due: eslint --fix, prettier --write

fix: resolve Prettier formatting issues for CI
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/09-general-linking.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/10-general-linking.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/01-subtask-matched.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/02-subtask-no-match.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/03-subtask-expired.json
  services/proxy/src/services/MetricsService.ts
Due: eslint --fix, prettier --write

feat: re-implement is_subtask support for Task tool conversations (#63)
  CLAUDE.md
  docs/04-Architecture/ADRs/adr-007-subtask-tracking.md
  docs/04-Architecture/ADRs/adr-014-subtask-query-executor-pattern.md
  docs/04-Architecture/ADRs/adr-015-subtask-conversation-migration.md
  packages/shared/src/index.ts
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/09-general-linking.json
  packages/shared/src/utils/__tests__/fixtures/conversation-linking/10-general-linking.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/01-subtask-matched.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/02-subtask-no-match.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/03-subtask-expired.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/04-second-subtask.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/05-subtask-follow.json
  packages/shared/src/utils/__tests__/fixtures/subtask-linking/06-subtask-check.json
  packages/shared/src/utils/__tests__/subtask-detection.test.ts
  packages/shared/src/utils/__tests__/subtask-linker.test.ts
  packages/shared/src/utils/conversation-linker.ts
  scripts/db/migrations/008-subtask-updates-and-task-indexes.ts
  scripts/db/migrations/009-add-response-body-gin-index.ts
  scripts/db/rebuild-conversations.ts
  scripts/init-database.sql
  services/proxy/src/services/MetricsService.ts
  services/proxy/src/services/ProxyService.ts
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/writer.ts
Due: eslint --fix, prettier --write

feat: add subtask metrics to conversation details
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/storage/reader.ts
  services/dashboard/src/types/conversation.ts
  services/dashboard/src/utils/conversation-metrics.ts
Due: eslint --fix, prettier --write

fix: add missing properties to RequestDetails interface
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

feat: add tool execution and time to reply metrics to conversation page (#62)
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/services/api-client.ts
  services/dashboard/src/storage/reader.ts
  services/dashboard/src/types/conversation.ts
  services/dashboard/src/utils/conversation-graph.ts
  services/dashboard/src/utils/conversation-metrics.ts
  services/dashboard/src/utils/simple-graph-layout.ts
  services/proxy/src/routes/api.ts
Due: eslint --fix, prettier --write

fix: correct subtask branch ID sequencing to account for existing subtasks
  packages/shared/src/index.ts
  packages/shared/src/utils/conversation-linker.ts
  packages/shared/src/utils/db-query-executors.ts
  services/proxy/src/storage/StorageAdapter.ts
  services/proxy/src/storage/writer.ts
Due: eslint --fix, prettier --write

fix: update all ConversationLinker instantiations for new constructor signature
  packages/shared/src/utils/__tests__/compact-branch-preservation.test.ts
  packages/shared/src/utils/__tests__/conversation-linker.test.ts
  packages/shared/src/utils/__tests__/subtask-detection.test.ts
  packages/shared/src/utils/__tests__/subtask-linker.test.ts
  packages/shared/src/utils/conversation-hash.ts
  packages/shared/src/utils/conversation-linker.ts
  scripts/db/analyze-request-linking.ts
  scripts/test-fixture-generator.ts
Due: eslint --fix, prettier --write

feat: add context size metrics to conversation dashboard
  services/dashboard/src/routes/conversation-detail.ts
  services/dashboard/src/storage/reader.ts
  services/dashboard/src/utils/conversation-graph.ts
Due: eslint --fix, prettier --write

feat: enhance rebuild script with detailed change logging
  scripts/db/rebuild-conversations.ts
Due: prettier --write

better logs
  scripts/db/rebuild-conversations.ts
Due: prettier --write

fix: add missing branch_id field to dashboard storage reader
  services/dashboard/src/routes/request-details.ts
  services/dashboard/src/storage/reader.ts
Due: eslint --fix, prettier --write
